**/*.md
**/.git*
**/.dockerignore
**/.editorconfig
**/.gitattributes
**/build
**/bundles
**/node_modules
**/var
**/vendor
**/Dockerfile
**/docker-*
**/db_root_password.txt
**/db_password.txt
**/CODEOWNERS
**/LICENSE