**/.git*
**/.husky
**/logs
**/node_modules
**/tests
**/var
**/vendor
**/*.md
**/*.neon
**/*.xml
**/*.xml.dist
**/*.config.*
**/.dockerignore
**/.editorconfig
**/.gitattributes
**/.gitignore
**/Dockerfile
**/compose.*
**/LICENSE
!webpack.config.js