/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/logs/
/vendor/
/.phpunit.cache/
/node_modules/
/public/build/
npm-debug.log
/.phpcs-cache
