// --------------- //
// Base de travail //
// --------------- //
@import "../main";

// ---------------- //
// Corps de la page //
// ---------------- //
main
{
	display: grid;
	padding: 2rem;
	text-align: center;
	align-items: start;
	grid-row-gap: 1rem;
	margin-bottom: 4rem;
	justify-items: center;
	grid-column-gap: 2rem;
	grid-template-columns: 0.7fr 1fr 1fr;

	p
	{
		// Description de la page.
		grid-area: 1 / 1 / 2 / 4;
		@include header-paragraph;
	}

	nav
	{
		// Barre de navigation.
		grid-area: 2 / 1 / 3 / 2;
		@include navigation-bar;
	}
}