// --------------- //
// Base de travail //
// --------------- //
@import "../main";

// ------- //
// En-tête //
// ------- //
header
{
	// Suppression de l'élement.
	display: none;
}

// ---------------- //
// Corps de la page //
// ---------------- //
main
{
	height: calc(100vh - 6rem - $footer-height); // Padding haut/bas + espace grille + hauteur pied-de-page.
	display: grid;
	padding: 2rem 5%;
	text-align: center;
	align-items: center;
	grid-row-gap: 2rem;
	grid-column-gap: 5%;
	grid-template-columns: clamp(15rem, 17.5vw, 25rem) 1fr;

	nav
	{
		// Barre de navigation.
		grid-area: 1 / 1 / 2 / 2;
		@include navigation-bar;
	}

	#tables
	{
		// Table des données.
		color: $text-color;
		padding: 1rem;
		grid-area: 1 / 2 / 2 / 3;
		overflow-x: auto;
		border-radius: 0.5rem;
		background-color: $box-color;

		h2
		{
			// Titre de la catégorie.
			margin: 1rem 0.5rem 2rem 0.5rem;
			font-size: 1.75rem;
		}

		p
		{
			// Description de la catégorie.
			color: $background-color;
			@include header-paragraph;
			margin: 0 1rem 0 1rem;
		}

		div
		{
			// Conteneur des formulaires.
			display: flex;
			margin-top: 1rem;

			// Catégories des tables.
			form:first-of-type ul
			{
				// Liste des catégories.
				margin: 1rem;

				li
				{
					&:not(:last-of-type)
					{
						// Marge sur tous les items sauf le dernier.
						margin-bottom: 0.5rem;
					}

					input
					{
						// Élément de chaque catégorie.
						color: $box-color;
						width: 100%;
						border: 1px solid currentColor;
						cursor: pointer;
						padding: 1rem;
						transition: background-color 250ms;
						font-weight: bold;
						border-radius: 0.5rem;
						text-transform: capitalize;
						background-color: $text-color;

						&:hover
						{
							// Animation de sélection.
							color: $text-color;
							background-color: $box-color;
						}
					}
				}
			}

			// Résultats de la base de données.
			form:last-of-type
			{
				// Lignes et colonnes.
				width: 100%;
				margin: 1rem;
				overflow: auto;
				background-color: rgba($background-color, 0.75);

				p
				{
					// Texte initial.
					top: 50%;
					color: $box-color;
					margin: 0;
					padding: 0.5rem;
					position: relative;
					word-wrap: break-word;
					font-size: 1.5rem;
					transform: translateY(-50%);
					font-weight: bold;
				}

				table
				{
					// Tableau containeur
					padding: 0.5rem;
					border-spacing: 0.25rem;

					th:not(:last-child)
					{
						// En-tête des colonnes (sauf la dernière).
						padding: 0.5rem;
						background-color: $box-color;
					}

					textarea
					{
						// Lignes.
						height: 2rem;
						resize: vertical;
						border: none;
						outline: none;
						min-height: 2rem;
						max-height: 20rem;
						transition: background-color 300ms;

						&:focus
						{
							// Sélection d'une ligne.
							background-color: rgba($text-color, 0.5);
						}
					}

					input
					{
						// Actions multiples.
						color: $background-color;
						width: 100%;
						cursor: pointer;
						border: none;
						padding: 0.5rem;
						transition: background-color 250ms;
						font-weight: bold;
						border-radius: 0.25rem;
						text-transform: uppercase;

						&[name *= add]
						{
							// Ajout d'un élément.
							background-color: $validate-color;

							&:hover
							{
								color: $validate-color;
								font-weight: bold;
								background-color: $background-color;
							}
						}

						&[name *= update]
						{
							// Édition d'un élément.
							background-color: $text-color;

							&:hover
							{
								color: $text-color;
								font-weight: bold;
								background-color: $background-color;
							}
						}

						&[name *= remove]
						{
							// Suppression d'un élément.
							background-color: $error-color;

							&:hover
							{
								color: $error-color;
								font-weight: bold;
								background-color: $background-color;
							}
						}
					}
				}
			}
		}
	}
}

// ------------------------------ //
// Conteneur : bouton des astuces //
// ------------------------------ //
#tips
{
	// Suppression de l'élément.
	display: none;
}