input, textarea, select, button {
  border: none;
  outline: none;
  position: relative;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  main #overview #actions ul li::after, main #servers ul li button::after, main nav ul li a i + span::after, footer ul li a span::after, main > button::after {
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    content: "";
    position: absolute;
  }
}

html {
  color: #333333;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeSpeed;
  min-width: 360px;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: "Source Code Pro", serif;
}

p {
  line-height: 1.25rem;
}

a {
  color: currentColor;
  text-decoration: none;
}

video {
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.15;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

button {
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0.25rem #797979;
}

noscript {
  top: 1rem;
  right: 1rem;
  color: #f2f2f2;
  padding: 0.5rem;
  z-index: 10;
  position: fixed;
  margin-left: 6rem;
  background-color: #ed431d;
}

nav, section, article {
  box-shadow: 0.5rem 0.5rem 0.5rem #797979;
}

input, textarea, select {
  resize: vertical;
  line-height: 1;
  border-radius: 0.5rem;
}

::-moz-selection {
  color: #f59a23;
  background-color: #333333;
}

::selection {
  color: #f59a23;
  background-color: #333333;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f59a23;
}

header {
  color: #f59a23;
  height: 6.25rem;
  padding: 0.5rem;
  background-color: #333333;
}
header img {
  width: 8rem;
}
header h1 {
  left: 1.5rem;
  bottom: 3.5rem;
  display: inline-block;
  position: relative;
}
header h2 {
  right: 12rem;
  bottom: 1.25rem;
  display: inline-block;
  position: relative;
  font-size: 1.25rem;
  font-style: italic;
}
header div i {
  top: 1.5rem;
  right: 19.5rem;
  position: absolute;
  font-size: 1.25rem;
}
header div span {
  top: 1.75rem;
  right: 12rem;
  color: #f2f2f2;
  position: absolute;
}
header div input {
  top: 3.5rem;
  right: 10rem;
  height: 1.5rem;
  padding: 0.25rem;
  position: absolute;
}
header div input::-moz-placeholder {
  left: 0.25rem;
  position: relative;
}
header div input:-ms-input-placeholder {
  left: 0.25rem;
  position: relative;
}
header div input::placeholder {
  left: 0.25rem;
  position: relative;
}
header div input:focus {
  box-shadow: inset 0 0 0 3px #f59a23;
}
header div input:focus + ul {
  top: 6rem;
  right: 10rem;
  width: 185px;
  border: 1px solid #797979;
  display: block;
  position: absolute;
  background-color: #333333;
}
header div input:focus + ul li {
  padding: 0.5rem;
  border-bottom: 1px solid #f2f2f2;
}
header div input:focus + ul li:last-of-type {
  border-bottom: none;
}
header div input:focus + ul li:hover {
  color: #333333;
  cursor: pointer;
  background-color: #f2f2f2;
}
header div input + ul {
  display: none;
}
header a i {
  top: 1rem;
  right: 3rem;
  position: absolute;
  font-size: 2rem;
}
header a span {
  top: 3.75rem;
  right: 1rem;
  color: #f2f2f2;
  position: absolute;
  text-align: center;
}

main > span {
  display: none;
  margin-left: 1rem;
}
main > button {
  color: #f59a23;
  width: 3rem;
  right: 0.5rem;
  height: 3rem;
  bottom: 4.25rem;
  position: fixed;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  background-color: #333333;
}
main > button:hover {
  color: #333333;
  background-color: #f59a23;
}
main > button:hover + span {
  color: #f59a23;
  right: 4rem;
  bottom: 4.6rem;
  border: 1px solid #797979;
  padding: 0.5rem;
  display: inline-block;
  position: fixed;
  background-color: #333333;
}
footer {
  color: #f59a23;
  width: calc(100% - 2rem);
  bottom: -1px;
  padding: 1rem;
  z-index: 5;
  position: fixed;
  min-width: 360px;
  background-color: #333333;
}
footer ul li {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  footer ul li a i:hover {
    color: #f2f2f2;
  }
}
footer ul li a span {
  color: #f2f2f2;
}
@media screen and (max-width: 768px) {
  footer ul li a span {
    display: none;
  }
}
footer ul li a span:hover {
  color: #333333;
  font-weight: bold;
  background-color: #f59a23;
}
footer ul li img {
  margin-right: 0.25rem;
}
footer ul li:last-of-type {
  float: right;
  margin-right: 0;
}
footer ul li:last-of-type ul {
  left: -3.5rem;
  bottom: 3rem;
  display: none;
  position: absolute;
}
footer ul li:last-of-type ul li {
  margin: 0.5rem 0 0;
}
footer ul li:last-of-type ul li button {
  color: #333333;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f59a23;
}
footer ul li:last-of-type ul li button img {
  width: 2rem;
  margin-right: 0;
}
footer ul li:last-of-type ul li button span {
  font-size: 1.25rem;
  font-weight: bold;
}
footer ul li:last-of-type ul li button:hover {
  color: #f59a23;
  background-color: #333333;
}
footer ul li:last-of-type ul li:last-of-type::after {
  bottom: -4rem;
  content: "";
  z-index: -1;
  position: absolute;
}
footer ul li:last-of-type::after {
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  content: "";
  position: absolute;
}
footer ul li:last-of-type:hover {
  cursor: pointer;
}
footer ul li:last-of-type:hover ul {
  display: block;
}
footer ul li:last-of-type:hover i {
  color: #f2f2f2;
}

header h1 {
  font-size: 2.5rem;
}
header h2 {
  right: 15.5rem;
  bottom: 1rem;
  font-size: 1.5rem;
}

main {
  display: grid;
  padding: 2rem;
  text-align: center;
  align-items: baseline;
  grid-row-gap: 1rem;
  margin-bottom: 4rem;
  justify-items: stretch;
  grid-column-gap: 2rem;
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-template-columns: clamp(15rem, 17.5vw, 25rem) 1fr 0.9fr 0.9fr;
}
main p {
  grid-area: 1/1/2/5;
  text-align: center;
  margin: 0 15% 0 15%;
  text-align: center;
}
main nav {
  grid-area: 2/1/4/2;
  align-self: start;
  border: 1px solid #797979;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(121, 121, 121, 0.5);
}
main nav h2 {
  color: #333333;
  margin: 1rem 0.5rem 2rem 0.5rem;
  font-size: 1.75rem;
}
main nav ul li {
  color: #f59a23;
  cursor: pointer;
  padding: 0.75rem;
  font-size: 1.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem #797979;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #333333;
}
main nav ul li a i {
  margin-right: 0.5rem;
}
main nav ul li a i + span {
  position: relative;
}
main nav ul li.active, main nav ul li:hover {
  background-color: #f59a23;
}
main nav ul li.active i, main nav ul li.active span, main nav ul li:hover i, main nav ul li:hover span {
  color: #333333;
}
main #servers {
  color: #f59a23;
  padding: 1rem;
  grid-area: 2/2/4/3;
  border-radius: 0.5rem;
  background-color: #333333;
}
main #servers h2 {
  margin: 1rem 0.5rem 2rem 0.5rem;
}
main #servers ul li {
  border: 1px solid #f59a23;
  height: 5rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  margin-bottom: 0.5rem;
}
main #servers ul li span {
  display: inline-block;
  position: relative;
  font-weight: bold;
}
main #servers ul li span:first-of-type {
  display: block;
  font-size: 1.25rem;
  word-break: break-all;
  margin-bottom: 0.25rem;
}
main #servers ul li span:last-of-type {
  font-size: 0.75rem;
}
main #servers ul li button {
  color: #f59a23;
  position: absolute;
  font-size: 1.75rem;
  background: none;
  box-shadow: none;
}
main #servers ul li button:first-of-type {
  left: 0;
  bottom: 0.25rem;
}
main #servers ul li button:last-of-type {
  right: -0.25rem;
  bottom: 0.25rem;
}
main #servers ul li button:hover {
  color: #f2f2f2;
}
main #servers ul li::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(0.75px) grayscale(1);
  content: "";
  position: absolute;
  background-size: cover;
  background-color: #333333;
  background-image: url("../../assets/images/placeholder.svg");
  background-repeat: no-repeat;
  background-position: center;
}
main #servers ul li:hover {
  color: transparent;
  border: 1px solid #f2f2f2;
}
main #servers ul li:hover::before {
  filter: blur(0) grayscale(0);
}
main #servers button[name=servers_list] {
  color: #f59a23;
  font-size: 1.25rem;
  background: none;
  box-shadow: none;
}
main #servers button[name=servers_list]:hover {
  color: #f2f2f2;
}
main #servers > span {
  margin: 0.5rem 0 0.5rem;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
}
main #overview {
  grid-area: 2/3/4/4;
  box-shadow: none;
}
main #overview #state {
  color: #f59a23;
  padding: 1rem;
  grid-area: 2/3/3/4;
  border-radius: 0.5rem;
  background-color: #333333;
}
main #overview #state h3 {
  margin: 1rem 0.5rem 2rem 0.5rem;
  font-size: 1.5rem;
}
main #overview #state ul li .circle {
  top: 2px;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: #558c03;
}
main #overview #state ul li:nth-of-type(2) .circle {
  background-color: #ed431d;
}
main #overview #state ul li h4 {
  margin: 0 0 0.5rem 0.5rem;
  display: inline-block;
  text-transform: uppercase;
}
main #overview #state ul li em {
  color: #f2f2f2;
  display: block;
  margin-bottom: 1.5rem;
}
main #overview #actions {
  padding: 1rem;
  grid-area: 3/3/4/4;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: #333333;
}
main #overview #actions h3 {
  color: #f59a23;
  margin: 1rem 0.5rem 2rem 0.5rem;
  font-size: 1.5rem;
}
main #overview #actions ul li {
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 0.5rem 1.5rem;
  position: relative;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
main #overview #actions ul li em {
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
}
main #overview #actions ul li:first-of-type {
  background-color: #ed431d;
}
main #overview #actions ul li:first-of-type:hover {
  color: #ed431d;
}
main #overview #actions ul li:first-of-type:hover em {
  font-weight: bold;
}
main #overview #actions ul li:nth-of-type(2) {
  background-color: #558c03;
}
main #overview #actions ul li:nth-of-type(2):hover {
  color: #558c03;
}
main #overview #actions ul li:nth-of-type(3) {
  background-color: #016fa0;
}
main #overview #actions ul li:nth-of-type(3):hover {
  color: #016fa0;
}
main #overview #actions ul li:last-of-type {
  background-color: #4a237a;
}
main #overview #actions ul li:last-of-type:hover {
  color: #4a237a;
}
main #overview #actions ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
main #last {
  color: #f59a23;
  padding: 1rem;
  grid-area: 2/4/3/5;
  border-radius: 0.5rem;
  background-color: #333333;
}
main #last h3 {
  color: #f59a23;
  margin: 1rem 0.5rem 2rem 0.5rem;
  font-size: 1.5rem;
}
main #last ul li {
  font-size: 1.25rem;
}
main #last ul li i {
  color: #558c03;
}
main #last ul li:nth-of-type(2) i {
  color: #ed431d;
}
main #last ul li:nth-of-type(3) i {
  color: #016fa0;
}
main #last ul li span {
  margin: 0 0 0.25rem 0.25rem;
  display: inline-block;
}
main #last ul li em {
  color: #f2f2f2;
  display: block;
  font-size: initial;
  margin-bottom: 1.5rem;
}
main #stats {
  color: #f59a23;
  padding: 1rem;
  grid-area: 3/4/4/5;
  border-radius: 0.5rem;
  background-color: #333333;
}
main #stats h3 {
  color: #f59a23;
  margin: 1rem 0.5rem 2rem 0.5rem;
  font-size: 1.5rem;
}