// --------------- //
// Base de travail //
// --------------- //
@import "../main";

// ---------------- //
// Corps de la page //
// ---------------- //
main
{
	display: grid;
	padding: 2rem 5%;
	text-align: center;
	align-items: start;
	grid-row-gap: 2rem;
	margin-bottom: 4rem;
	justify-items: stretch;
	grid-column-gap: 5%;
	grid-template-rows: 0.2fr 1fr 1fr;
	grid-template-columns: clamp(15rem, 17.5vw, 25rem) 1fr 0.9fr 0.9fr;

	p
	{
		// Description de la page.
		grid-area: 1 / 1 / 2 / 5;
		text-align: center;
		@include header-paragraph;
	}

	nav
	{
		// Barre de navigation.
		grid-area: 2 / 1 / 4 / 2;
		align-self: start;
		@include navigation-bar;
	}

	#servers
	{
		// Liste des serveurs.
		color: $text-color;
		padding: 1rem;
		grid-area: 2 / 2 / 4 / 3;
		border-radius: 0.5rem;
		background-color: $box-color;

		h2
		{
			// Titre de la catégorie.
			margin: 1rem 0.5rem 2rem 0.5rem;
		}

		ul li
		{
			// Liste des serveurs.
			border: 1px solid $text-color;
			height: 5rem;
			padding: 1rem;
			position: relative;
			text-align: center;
			margin-bottom: 0.5rem;

			span
			{
				// Intitulés des serveurs.
				display: inline-block;
				position: relative;
				font-weight: bold;

				&:first-of-type
				{
					// Nom du serveur.
					display: block;
					font-size: 1.25rem;
					word-break: break-word;
					margin-bottom: 0.25rem;
				}

				&:last-of-type
				{
					// Adresse IP & port de communication.
					font-size: 0.75rem;
				}
			}

			button
			{
				// Bouton d'actions.
				color: $text-color;
				position: absolute;
				font-size: 1.75rem;
				background: none;
				box-shadow: none;
				transition: color 250ms;

				&[name = server_edit]
				{
					// Édition des propriétés du serveur.
					left: 0;
					bottom: 0.25rem;
				}

				&[name = server_connect]
				{
					// Connexion directe au serveur.
					right: -0.25rem;
					bottom: 0.25rem;
				}

				&:hover
				{
					// Effet de sélection.
					color: $background-color;
				}

				&::after
				{
					// Amélioration de la zone de sélection.
					@extend %larger-touch-zone;
				}
			}

			&::before
			{
				// Image d'arrière plan.
				// Note : on place cette image dans le sélecteur "before"
				//	afin de pouvoir appliquer un filtre uniquement à l'image
				// 	et non pas conteneur entier.
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				filter: blur(5px) grayscale(1);
				content: "";
				position: absolute;
				transition: color 250ms, filter 300ms ease-in-out;;
				background-size: cover;
				background-color: $box-color;
				background-image: url("../../assets/images/games/0_background.jpg");
				background-repeat: no-repeat;
				background-position: center;
			}

			&:hover
			{
				// Effet de sélection.
				color: transparent;
				border: 1px solid $background-color;

				&::before
				{
					filter: blur(0) grayscale(0);
				}
			}
		}

		button[name = servers_list]
		{
			// Bouton de page précédente/suivante.
			color: $text-color;
			font-size: 1.25rem;
			transition: color 250ms;
			background: none;
			box-shadow: none;

			&:hover
			{
				// Effet de sélection.
				color: $background-color;
			}
		}

		> span
		{
			// Indicateur du nombre de pages.
			margin: 0.5rem 0 0.5rem;
			display: inline-block;
			font-size: 1.25rem;
			font-weight: bold;
		}
	}

	#state
	{
		// Aperçu de l'état.
		color: $text-color;
		height: 100%;
		padding: 1rem;
		grid-area: 2 / 3 / 3 / 4;
		box-sizing: border-box;
		border-radius: 0.5rem;
		background-color: $box-color;

		h3
		{
			// Titre de l'article.
			margin: 1rem 0.5rem 2rem 0.5rem;
			font-size: 1.5rem;
		}

		ul li
		{
			// Liste des indicateurs.
			.circle
			{
				// Couleur de l'état.
				top: 2px;
				width: 1rem;
				height: 1rem;
				display: inline-block;
				position: relative;
				border-radius: 50%;
				background-color: currentColor;
			}

			h4
			{
				// Titre de l'indicateur.
				margin: 0 0 0.5rem 0.5rem;
				display: inline-block;
				text-transform: uppercase;
			}

			em
			{
				// Information de l'état.
				color: $background-color;
				display: block;
				margin-bottom: 1.5rem;
			}
		}
	}

	#players
	{
		// Liste des joueurs.
		color: $text-color;
		padding: 1rem;
		grid-area: 3 / 3 / 4 / 4;
		border-radius: 0.5rem;
		background-color: $box-color;

		h3
		{
			// Titre de l'article.
			color: $text-color;
			margin: 1rem 0.5rem 2rem 0.5rem;
			font-size: 1.5rem;
		}

		ul
		{
			// Liste détaillée
			padding: 0.25rem;
			overflow: auto;

			li
			{
				// Nom du joueur.
				color: $background-color;
				padding: 0.25rem;
				transition: color 250ms, background-color 250ms;
				margin-bottom: 0.25rem;
				background-color: black;

				&:hover
				{
					// Effet de sélection.
					color: black;
					background-color: $background-color;
				}
			}
		}
	}

	#actions
	{
		// Actions rapides.
		height: 100%;
		padding: 1rem;
		grid-area: 2 / 4 / 3 / 5;
		box-sizing: border-box;
		border-radius: 0.5rem;
		background-color: $box-color;

		h3
		{
			// Titre de l'article.
			color: $text-color;
			margin: 1rem 0.5rem 2rem 0.5rem;
			font-size: 1.5rem;
		}

		ul li
		{
			// Liste des actions.
			color: $background-color;
			border: 1px solid $background-color;
			padding: 0.5rem 1.5rem;
			position: relative;
			transition: color 250ms, background-color 250ms;
			font-weight: bold;
			border-radius: 0.5rem;
			margin-bottom: 0.5rem;
			text-transform: uppercase;

			em
			{
				// Intitulé de l'action.
				display: block;
				font-size: 0.75rem;
				font-weight: normal;
			}

			&:first-of-type
			{
				// Arrêt du serveur.
				background-color: $error-color;

				&:hover
				{
					color: $error-color;

					em
					{
						// Intitulé de l'action.
						font-weight: bold;
					}
				}
			}

			&:nth-of-type(2)
			{
				// Redémarrage du serveur.
				background-color: $validate-color;

				&:hover
				{
					color: $validate-color;
				}
			}

			&:nth-of-type(3)
			{
				// Mise à jour du serveur.
				background-color: $info-color;

				&:hover
				{
					color: $info-color;
				}
			}

			&:last-of-type
			{
				// Maintenance du serveur.
				background-color: $special-color;

				&:hover
				{
					color: $special-color;
				}
			}

			&:hover
			{
				// Effet de sélection.
				cursor: pointer;
				background-color: $background-color;
			}

			&::after
			{
				// Amélioration de la zone de sélection.
				@extend %larger-touch-zone;
			}
		}
	}

	#last
	{
		// Dernière action réalisée.
		color: $text-color;
		padding: 1rem;
		grid-area: 3 / 4 / 4 / 5;
		border-radius: 0.5rem;
		background-color: $box-color;

		h3
		{
			// Titre de la section.
			color: $text-color;
			margin: 1rem 0.5rem 2rem 0.5rem;
			font-size: 1.5rem;
		}

		ul li
		{
			// Liste des dernières actions.
			font-size: 1.25rem;

			i
			{
				// Icône d'état de la dernière action.
				color: $validate-color;
			}

			&:nth-of-type(2) i
			{
				// État de démonstration (doit être supprimé à l'avenir).
				color: $error-color;
			}

			&:nth-of-type(3) i
			{
				// Voir dernier commentaire juste au-dessus.
				color: $info-color;
			}

			span
			{
				// Heure de déclenchement de l'action.
				margin: 0 0 0.25rem 0.25rem;
				display: inline-block;
			}

			em
			{
				// Intitulé de l'action.
				color: $background-color;
				display: block;
				font-size: initial;
				margin-bottom: 1.5rem;
			}
		}
	}
}