// --------------- //
// Base de travail //
// --------------- //
@import "../main";

// ------- //
// En-tête //
// ------- //
header
{
	// Réinitialisation de certaines règles
	// 	de l'en-tête par défaut du site.
	width: inherit;
	height: 0;
	padding: 0;

	ul
	{
		// Présentation des boutons.
		right: 0;
		margin: 1rem;
		position: absolute;

		button
		{
			// Disposition et affichage.
			color: $text-color;
			width: 150px;
			height: 44px;
			padding: 0.5rem 1.5rem;
			font-weight: bold;
			border-radius: 0.5rem;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
			background-color: $box-color;

			&:hover
			{
				// Effet de sélection.
				color: $box-color;
				background-color: $text-color;
			}

			&::before
			{
				// Amélioration de la zone de sélection.
				@extend %larger-touch-zone;
			}
		}
	}
}

// -------------------------------- //
// Section : informations générales //
// -------------------------------- //
#informations
{
	top: calc(50% - $footer-height);
	gap: 10vw;
	left: 50%;
	width: 80%;
	margin: auto;
	display: flex;
	position: absolute;
	transform: translate(-50%, -50%);
	box-shadow: none;
	align-items: center;
	justify-content: center;

	ul
	{
		// Carrousel de images.
		width: 50%;

		li
		{
			// Image du carrousel.
			display: none;

			img
			{
				// Image du projet.
				filter: blur(0.75px) grayscale(1);
				border-radius: 1rem;

				&:hover
				{
					// Effet de sélection.
					filter: blur(0) grayscale(0);
				}
			}

			&:first-of-type
			{
				// Affichage de la première image.
				display: block;
			}
		}
	}

	article
	{
		// Présentation des fonctionnalités.
		color: $box-color;
		width: 50%;
		text-align: center;
		box-shadow: none;
		border-radius: 0.5rem;

		h1
		{
			// Titre du site.
			font-size: 3rem;
			text-shadow: 1px 1px 1px $text-color;
		}

		p
		{
			// Paragraphe de description principal.
			margin: 2rem 0 2rem;
			font-weight: bold;
		}

		button
		{
			// Disposition et affichage.
			color: $box-color;
			font-size: 2rem;
			box-shadow: none;
			background-color: transparent;

			&:hover
			{
				// Effet de sélection.
				color: $text-color;
			}
		}

		ul
		{
			display: none;
		}
	}
}

// -------------------------- //
// Section : à propos de nous //
// -------------------------- //
#aboutus
{
	display: none;
}