// ------------------ //
// Variables globales //
// ------------------ //
@import "../main";

// ------- //
// En-tête //
// ------- //
header ul
{
	// Présentation des boutons.
	float: right;
	margin: 1rem;

	button
	{
		// Disposition et affichage.
		color: $text-color;
		float: right;
		width: 150px;
		height: 44px;
		padding: 0.5rem 1.5rem;
		font-weight: bold;
		border-radius: 0.5rem;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
		background-color: $box-color;

		// Réinitialisation des valeurs par défaut.
		@include reset-button-style;

		&:hover
		{
			// Effet de sélection.
			color: $box-color;
			background-color: $text-color;
		}

		&::before
		{
			// Amélioration de la zone de sélection.
			@include larger-touch-zone;
		}
	}
}

// -------------------------------- //
// Section : informations générales //
// -------------------------------- //
#informations
{
	float: right;
	color: $box-color;
	margin: 0 1rem 0 50%;
	padding: 1rem;
	text-align: center;
	border-radius: 0.5rem;

	h1
	{
		font-size: 3rem;
		text-shadow: 1px 1px 1px $text-color;
	}

	p
	{
		margin: 2rem 0 2rem;
		line-height: 1.25rem;
		font-weight: bold;
	}

	button
	{
		// Réinitialisation des valeurs par défaut.
		@include reset-button-style;

		// Disposition et affichage.
		color: $box-color;
		font-size: 2rem;
		box-shadow: none;
		background-color: transparent;

		&:hover
		{
			// Effet de sélection.
			color: $text-color;
		}
	}

	ul
	{
		display: none;
	}
}

// -------------------------- //
// Section : à propos de nous //
// -------------------------- //
#aboutus
{
	display: none;
}

// --------------------- //
// Section : inscription //
// --------------------- //
#signup
{
	display: none;
}

// -------------------------- //
// Section : authentification //
// -------------------------- //
#signin
{
	display: none;
}

// ----------------- //
// Section : contact //
// ----------------- //
#contact
{
	display: none;
}