// ------------------ //
// Variables globales //
// ------------------ //
@import "../main";

// ------- //
// En-tête //
// ------- //
header ul
{
	// Présentation des boutons.
	float: right;
	margin: 1rem;

	button
	{
		// Disposition et affichage.
		color: $text-color;
		float: right;
		width: 150px;
		height: 44px;
		padding: 0.5rem 1.5rem;
		font-weight: bold;
		border-radius: 0.5rem;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
		background-color: $box-color;

		&:hover
		{
			// Effet de sélection.
			color: $box-color;
			background-color: $text-color;
		}

		&::before
		{
			// Amélioration de la zone de sélection.
			@include larger-touch-zone;
		}
	}
}

// ---------------------------- //
// Section : carrousel d'images //
// ---------------------------- //
#carousel
{
	// Disposition et affichage.
	top: 25%;
	margin: 0 55% 0 10%;
	position: absolute;

	ul li
	{
		// Liste de toutes les images.
		display: none;

		img
		{
			// Image du projet.
			width: 50vh;
			filter: blur(0.75px) grayscale(1);
			border-radius: 1rem;

			&:hover
			{
				// Effet de sélection.
				filter: blur(0) grayscale(0);
			}
		}

		&:first-of-type
		{
			// Affichage de la première image.
			display: block;
		}
	}
}

// -------------------------------- //
// Section : informations générales //
// -------------------------------- //
#informations
{
	// Disposition et affichage.
	top: 25%;
	color: $box-color;
	margin: 0 10% 0 55%;
	padding: 1rem;
	position: absolute;
	text-align: center;
	border-radius: 0.5rem;

	h1
	{
		// Titre du site.
		font-size: 3rem;
		text-shadow: 1px 1px 1px $text-color;
	}

	p
	{
		// Paragraphe de description principal.
		margin: 2rem 0 2rem;
		font-weight: bold;
	}

	button
	{
		// Disposition et affichage.
		color: $box-color;
		font-size: 2rem;
		box-shadow: none;
		background-color: transparent;

		&:hover
		{
			// Effet de sélection.
			color: $text-color;
		}
	}

	ul
	{
		display: none;
	}
}

// -------------------------- //
// Section : à propos de nous //
// -------------------------- //
#aboutus
{
	display: none;
}

// --------------------- //
// Section : inscription //
// --------------------- //
#signup
{
	display: none;
}

// -------------------------- //
// Section : authentification //
// -------------------------- //
#signin
{
	display: none;
}

// ----------------- //
// Section : contact //
// ----------------- //
#contact
{
	// Disposition et affichage.
	width: 50%;
	border: 1px solid $box-color;
	margin: 2rem auto 6rem auto;
	padding: 2rem;
	z-index: 1;
	position: relative;
	text-align: center;
	background-color: $background-color;

	h2
	{
		// Titre du formulaire.
		font-size: 2rem;
		margin-top: 0;
	}

	i
	{
		// Spécifications juridiques.
		left: 1rem;
		float: left;
		color: $error-color;
		position: relative;
		font-size: 2rem;
		margin-right: 1rem;
	}

	p
	{
		// Description du formulaire.
		margin: 0 5% 1rem 5%;
	}

	form
	{
		// Formulaire.
		padding: 1rem;
		margin-top: 1.5rem;
		border-radius: 0.5rem;
		background-color: $box-color;

		label
		{
			// Libellé du champ.
			color: $text-color;
		}

		input[type *= e], textarea, select
		{
			// Champs et zones de saisies.
			width: calc(100% - 2rem);
			margin: 0.5rem 0 1rem 0;
			padding: 0.5rem;
			box-sizing: border-box;
		}

		select
		{
			// Sélection des sujets.
			cursor: pointer;
		}

		textarea
		{
			// Zone de saisie principale.
			height: 200px;
			margin-bottom: 0;
		}

		input[type = button]
		{
			// Application de l'apparence personnalisée.
			margin-top: 0.5rem;
			@include cancel-button-layout;
		}

		input[type = submit]
		{
			// Application de l'apparence personnalisée.
			margin-top: 0.5rem;
			@include submit-button-layout;
		}

		span
		{
			// Champs requis.
			color: $error-color;
		}
	}
}