parameters:
    app.timezone: "%env(APP_TIMEZONE)%"
    app.ssl_phrase: "%env(SSL_PHRASE)%"
    app.recaptcha_enabled: "%env(RECAPTCHA_ENABLED)%"
    app.recaptcha_private_key: "%env(RECAPTCHA_PRIVATE_KEY)%"
    app.google_client_enabled: "%env(GOOGLE_CLIENT_ENABLED)%"
    app.github_client_enabled: "%env(GITHUB_CLIENT_ENABLED)%"
    .container.dumper.inline_factories: true

services:
    _defaults:
        autowire: true
        autoconfigure: true
    App\:
        exclude:
            - "../src/Entity"
            - "../src/Kernel.php"
            - "../src/DependencyInjection"
        resource: "../src/"
    App\Twig\AppRuntime:
        tags: ["twig.runtime"]
        arguments: ["@translator"]
    xPaw\SourceQuery\SourceQuery:
    App\EventSubscriber\LocaleSubscriber:
        arguments: ["%kernel.default_locale%"]
    Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler:
        arguments:
            - "@Redis"
            - { "prefix": "swc_sessions_" }
    Redis:
        class: Redis
        calls:
            - connect:
                - "%env(REDIS_HOST)%"
                - "%env(int:REDIS_PORT)%"
            - auth:
                - ["%env(REDIS_USERNAME)%", "%env(REDIS_PASSWORD)%"]

when@prod:
    App\:
        exclude:
            - "../src/DataFixtures"