// Roboto - 100
@font-face
{
	src: url("../fonts/roboto-100.woff2") format("woff2");
	font-style: normal;
	font-weight: 100;
	font-family: "Roboto";
}

// Roboto - 300
@font-face
{
	src: url("../fonts/roboto-300.woff2") format("woff2");
	font-style: normal;
	font-weight: 300;
	font-family: "Roboto";
}

// Source Sans 3 - 400
@font-face
{
	src: url("../fonts/source-sans-3-400.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-family: "Source Sans 3";
}

// Source Sans 3 - 700
@font-face
{
	src: url("../fonts/source-sans-3-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-family: "Source Sans 3";
}

// Source Code Pro - 300
@font-face
{
	src: url("../fonts/source-code-pro-300.woff2") format("woff2");
	font-style: normal;
	font-weight: 300;
	font-family: "Source Code Pro";
}

// Source Code Pro - 500
@font-face
{
	src: url("../fonts/source-code-pro-500.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
	font-family: "Source Code Pro";
}