// -------------------- //
// Dépendances globales //
// -------------------- //
@import "normalize.css/normalize.css";
@import "flag-icons/css/flag-icons.min.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";
@import "vanilla-cookieconsent/dist/cookieconsent.css";

// ------------------ //
// Variables globales //
// ------------------ //
@import "variables";
@import "mixins";
@import "fonts";

// --------------- //
// Document entier //
// --------------- //
html
{
	// Traitement des textes.
	color: $box-color;
	font-family: "Roboto", sans-serif;

	// Disposition et affichage.
	min-width: $html-min-width;
	scroll-behavior: smooth;

	// Badge de Google reCAPTCHA.
	//  Source : https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
	.grecaptcha-badge
	{
		display: none;
	}
}

h1
{
	// Titres principaux.
	font-family: "Source Sans 3", sans-serif;
}

h2, h3, h4, h5, h6
{
	// Sous-titres.
	font-family: "Source Code Pro", serif;
}

ul, ol
{
	// Listes ordonnées/non-ordonnées.
	@extend %reset-list-style;
}

p, em
{
	// Paragraphes et textes.
	line-height: 1.375;
}

strong
{
	// Textes avec graisse.
	font-size: 120%;
}

a
{
	// Liens d'ancrage.
	color: currentColor;
	text-decoration: none;
}

video
{
	// Vidéos en arrière-plan.
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.15;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
}

button
{
	// Boutons de sélection.
	@extend %reset-button-style;
	cursor: pointer;
	box-shadow: 0.25rem 0.25rem 0.25rem $border-color;
}

nav, section, article
{
	// Sections, articles et barre de navigation.
	box-shadow: 0.5rem 0.5rem 0.5rem $border-color;
}

input, textarea, select
{
	// Interrupteurs, champs de saisies et listes déroulantes.
	@extend %reset-button-style;
	resize: vertical;
	line-height: 1;
	border-radius: 0.5rem;

	&[required]:invalid ~ input[type = submit]
	{
		// Désactivation conditionnelle des boutons de soumission.
		filter: opacity(0.5);
		pointer-events: none;
	}

	&[type = number]
	{
		// Suppression des boutons de sélection des nombres.
		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
		{
			// Navigateurs WebKit.
			margin: 0;
			-webkit-appearance: none;
		}

		@-moz-document url-prefix()
		{
			// Navigateurs Gecko.
			-moz-appearance: textfield;
		}
	}
}

::selection
{
	// Sélection des textes.
	color: $text-color;
	background-color: $box-color;
}

// Personnalisation de la barre de défilement.
//  (Navigateurs WebKit uniquement : https://caniuse.com/css-scrollbar).
::-webkit-scrollbar
{
	// Taille de la barre.
	width: 0.75rem;
}

::-webkit-scrollbar-track
{
	// Fond de la barre.
	background-color: $background-color;
}

::-webkit-scrollbar-thumb
{
	// Couleur classique de la barre.
	background-color: $box-color;
}

::-webkit-scrollbar-thumb:hover
{
	// Couleur de la barre lors d'une sélection.
	background-color: $text-color;
}

// Personnalisation de la bannière de consentement.
//  Source : https://cookieconsent.orestbida.com/advanced/ui-customization.html#color-schemes
#cc-main
{
	// Conteneur principal des éléments enfants.
	font-family: inherit;

	.cm
	{
		// Conteneur de la bannière de consentement.
		background-color: $box-color;
	}

	.pm
	{
		// Conteneur du gestionnaire des préférences.
		background-color: $box-color;
	}

	.pm__header, .pm__footer
	{
		// En-tête et pied de page du gestionnaire des préférences.
		border-color: rgba($background-color, 0.25);
	}

	.pm__body
	{
		// Corps du gestionnaire des préférences.
		&::-webkit-scrollbar
		{
			@extend ::-webkit-scrollbar;
		}

		&::-webkit-scrollbar-track
		{
			@extend ::-webkit-scrollbar-track;
			background-color: $box-color;
		}

		&::-webkit-scrollbar-thumb
		{
			@extend ::-webkit-scrollbar-thumb;
		}
	}

	.cm__title, .pm__title
	{
		// Titres de la bannière de consentement et
		//  du gestionnaire des préférences.
		@extend h3;
		color: $text-color;
		font-size: 1.5rem;
	}

	.cm__desc, .pm__section-desc
	{
		// Descriptions de la bannière de consentement et
		//  du gestionnaire des préférences.
		@extend p;
		color: $background-color;
	}

	.pm__section:not(:first-child)
	{
		// Section pour plus d'informations.
		color: $text-color;
		border-color: rgba($background-color, 0.25);

		&:hover
		{
			// Effet de survol.
			color: $box-color;
			background-color: $text-color;

			.pm__section-desc
			{
				// Description de la section.
				color: $box-color;
			}
		}
	}

	.pm__section--toggle
	{
		// Conteneurs généraux du gestionnaire des préférences.
		color: $background-color;
		background-color: $box-color;

		.pm__section-desc-wrapper
		{
			// Conteneur contenant les descriptions des cookies.
			border-color: rgba($background-color, 0.25);
			background-color: $box-color;
		}

		.pm__section-arrow
		{
			// Flèches de chaque section.
			background-color: $text-color;

			svg
			{
				// Icône de la flèche.
				stroke: $box-color;
			}
		}

		button.pm__section-title
		{
			// Boutons de la bannière de consentement.
			border-color: rgba($background-color, 0.25);
			background-color: $box-color;

			&:hover
			{
				// Effet de survol.
				color: $box-color;
				border-color: rgba($text-color, 0.25);
				background-color: $text-color;

				~ .pm__section-arrow
				{
					// Flèches de chaque section.
					background-color: $box-color;

					svg
					{
						// Icône de la flèche.
						stroke: $text-color;
					}
				}
			}
		}
	}

	.pm__table-th, .pm__table-tr
	{
		// Textes du tableau de la liste des cookies.
		color: $text-color;
		font-weight: bold;

		td
		{
			// Cellules du tableau de la liste des cookies.
			color: $background-color;
			font-weight: normal;
		}

		&:hover
		{
			// Effet de survol.
			color: $box-color;
			background-color: $text-color;

			td
			{
				// Cellules du tableau.
				color: $box-color;
			}
		}
	}

	.cm__btn, .pm__btn, .pm__close-btn
	{
		// Boutons d'acception, de refus ou de fermeture
		//  de la bannière de consentement.
		color: $background-color;
		transition: color 250ms, background-color 250ms;
		border-color: $background-color;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
		background-color: $box-color;

		&[aria-label]
		{
			// Bouton de fermeture de la fenêtre modale.
			margin: inherit;
			background-color: $error-color;
		}

		&[data-role = necessary]
		{
			// Bouton d'acception des cookies nécessaires.
			background-color: $error-color;
		}

		&[data-role = show], &[data-role = save]
		{
			// Boutons de sauvegarde ou d'ouverture du
			//  gestionnaire de préférences.
			background-color: $info-color;
		}

		&[data-role = all]
		{
			// Bouton d'acception de l'ensemble des cookies.
			background-color: $validate-color;
		}

		&:hover
		{
			// Effet de survol.
			border-color: $background-color;
			background-color: $background-color;

			&[aria-label] svg
			{
				// Icône du bouton de fermeture de la
				//  fenêtre modale.
				stroke: $error-color;
			}

			&[data-role = necessary]
			{
				// Bouton d'acception des cookies nécessaires.
				color: $error-color;
			}

			&[data-role = show], &[data-role = save]
			{
				// Boutons de sauvegarde ou d'ouverture du
				//  gestionnaire de préférences.
				color: $info-color;
			}

			&[data-role = all]
			{
				// Bouton d'acception de l'ensemble des cookies.
				color: $validate-color;
			}
		}
	}

	.cc__link, a:hover
	{
		// Effet de survol des liens du gestionnaire
		//  des préférences.
		color: $box-color;
	}

	.section__toggle
	{
		// Bascules du gestionnaire des préférences.
		~ .toggle__icon
		{
			// Bascules inactives.
			box-shadow: 0 0 0 1px rgba($background-color, 0.25);
			background-color: $box-color;

			.toggle__icon-circle
			{
				// Cercle de la bascule.
				background-color: $background-color;

				.toggle__icon-off svg
				{
					// Icône de la bascule.
					stroke: $box-color;
				}
			}
		}

		&:checked ~ .toggle__icon
		{
			// Bascules actives.
			box-shadow: 0 0 0 1px $text-color, 0 0 0 2px $box-color;
			background-color: $text-color;

			.toggle__icon-circle
			{
				// Cercle de la bascule.
				background-color: $box-color;

				.toggle__icon-on svg
				{
					// Icône de la bascule.
					stroke: $text-color;
				}
			}
		}

		&:checked:disabled ~ .toggle__icon
		{
			// Bascules désactivées mais actives.
			box-shadow: 0 0 0 1px rgba($text-color, 0.25), 0 0 0 2px rgba($box-color, 0.25);
			background-color: rgba($text-color, 0.25);

			.toggle__icon-circle
			{
				// Cercle de la bascule.
				background-color: $box-color;

				.toggle__icon-on svg
				{
					// Icône de la bascule.
					stroke: rgba($text-color, 0.25);
				}
			}
		}
	}
}

// ------- //
// En-tête //
// ------- //
header
{
	gap: 1rem;
	color: $text-color;
	height: 6rem;
	padding: 0.5rem;
	display: flex;
	background-color: $box-color;

	img
	{
		// Logo du site.
		height: 100%;
	}

	div:first-of-type
	{
		// Conteneur des titres.
		display: flex;
		margin-right: auto;
		flex-direction: column;
		justify-content: space-evenly;

		h1
		{
			// Titre du site.
			margin: 0;
			font-size: 2.5rem;
		}

		h2
		{
			// Sous-titre du site.
			margin: 0;
			font-size: 1.5rem;
			font-style: italic;
		}
	}

	div:last-of-type
	{
		// Conteneur de la barre de recherche.
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		label
		{
			// Intitulé du champ de saisie.
			color: $background-color;
			text-align: center;

			i
			{
				// Icône de la barre de recherche.
				color: $text-color;
				font-size: 1.25rem;
				margin-right: 0.5rem;
			}
		}

		input
		{
			// Champ de saisie de la barre de recherche.
			height: 1.5rem;
			padding: 0.25rem;
			transition: box-shadow 250ms;

			&::placeholder
			{
				// Texte de remplissage par défaut.
				left: 0.25rem;
			}

			&:focus
			{
				// Effet de sélection du champ.
				box-shadow: inset 0 0 0 3px $text-color;
			}
		}
	}

	a
	{
		// Conteneur des informations du compte utilisateur.
		gap: 0.25rem;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		i
		{
			// Icône de l'état de connexion.
			font-size: 2rem;
			transition: color 250ms;
		}

		span
		{
			// Identifiants du compte actuellement connecté.
			color: $background-color;
			max-width: 7rem;
			overflow-x: auto;
			text-align: center;
		}

		&:hover i
		{
			// Effet de sélection.
			color: $background-color;
		}
	}
}

// -------------------------------------------- //
// Sections : inscription, connexion et contact //
// -------------------------------------------- //
#register article, #login, #contact
{
	// Disposition et affichage.
	top: calc(50% - $footer-height);
	left: 50%;
	width: 50%;
	border: 1px solid $text-color;
	z-index: 1;
	padding: 2rem;
	display: none;
	position: fixed;
	transform: translate(-50%, -50%);
	max-width: 600px;
	overflow-y: auto;
	max-height: 75vh;
	text-align: center;
	background-color: $background-color;

	@media screen and (max-width: 1023px)
	{
		// Modification de la taille sur terminaux mobiles.
		width: 75%;
	}

	h2
	{
		// Titre du formulaire.
		font-size: 2rem;
		margin-top: 0;
	}

	div
	{
		// Spécifications juridiques.
		gap: 0.5rem;
		display: flex;
		align-items: center;
		margin-left: 1rem;
		margin-right: 1rem;

		i
		{
			// Icône d'avertissement.
			color: $error-color;
			font-size: 2rem;
		}
	}

	p, em
	{
		// Descriptions du formulaire.
		margin: 0 5% 1rem 5%;
	}

	form
	{
		// Formulaire.
		padding: 1rem;
		margin-top: 1.5rem;
		border-radius: 0.5rem;
		background-color: $box-color;

		p.error, p.success
		{
			// Message d'erreur.
			color: $error-color;
			border: 2px solid $error-color;
			padding: 0.5rem;
			display: none;
			font-style: normal;
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
		}

		p.success
		{
			// Message de succès.
			color: $validate-color;
			border: 2px solid $validate-color;
			text-transform: none;
		}

		p.capslock
		{
			// Message d'avertissement des majuscules.
			//  Note : se contrôle via une action JavaScript.
			color: $error-color;
			font-size: 110%;
			font-weight: bold;
			text-transform: uppercase;
		}

		em
		{
			// Description brève des informations demandées.
			color: $background-color;
			display: block;
			font-style: normal;
			text-align: justify;
			margin-bottom: 1.5rem;
		}

		a
		{
			// Liens vers l'inscription, connexion unique ou
			//  la récupération de mot de passe.
			color: $text-color;
			transition: color 250ms, background-color 250ms;
			text-decoration: underline;

			&:hover
			{
				// Effet de sélection.
				color: $box-color;
				font-weight: bold;
				background-color: $text-color;
			}
		}

		hr
		{
			// Séparateur entre les articles.
			margin: 1.5rem 0 2rem;
			border-color: $background-color;
		}

		label
		{
			// Libellé du champ.
			color: $text-color;
			display: inline-block;

			> span
			{
				// Champs requis.
				color: $error-color;
			}
		}

		input[type = text], input[type = number], input[type = email], input[type = password], textarea, select
		{
			// Champs et zones de saisies.
			width: calc(100% - 2rem);
			margin: 0.5rem 0 1rem 0;
			padding: 1rem;
			box-sizing: border-box;

			+ span
			{
				// Icône d'état des vérifications.
				position: relative;

				&::before
				{
					top: -2.5px;
					left: -1.75rem;
					position: absolute;

					// Correction du positionnement de l'icône
					//  sur les navigateurs Firefox.
					@-moz-document url-prefix()
					{
						top: -1rem;
					}
				}
			}
		}

		input[type = checkbox]
		{
			// Boites à cocher.
			margin-left: 0.5rem;
			accent-color: $text-color;
		}

		select
		{
			// Sélection des sujets.
			cursor: pointer;
		}

		textarea
		{
			// Zone de saisie principale.
			height: 200px;
			line-height: 1.5rem;
			margin-bottom: 0;

			+ span::before
			{
				// Positionnement de l'icône des vérifications.
				top: -1.25rem;
				left: -2rem;

				// Correction du positionnement de l'icône sur les
				//  navigateurs Firefox.
				@-moz-document url-prefix()
				{
					top: -2rem;
				}
			}
		}

		input[type = reset]
		{
			// Application de l'apparence personnalisée.
			margin-top: 0.75rem;
			@extend %cancel-button-layout;
		}

		input[type = submit]
		{
			// Application de l'apparence personnalisée.
			margin-top: 0.75rem;
			@extend %submit-button-layout;
		}

		input:valid + span::before, textarea:valid + span::before
		{
			// Champ considéré comme valide.
			color: $validate-color;
			content: "✓";
			font-size: 1.5rem;
		}

		input:invalid + span::before, textarea:invalid + span::before
		{
			// Champ considéré comme invalide.
			color: $error-color;
			content: "✖";
			font-size: 1.5rem;
		}

		input:focus:invalid, textarea:focus:invalid
		{
			// Contour d'un champ/zone invalide.
			box-shadow: inset 0 0 0 3px red;
		}
	}

	ul
	{
		// Liste des étapes actuelles.
		float: right;
		margin: 0.75rem 0 -0.5rem 0;
		font-size: 1.25rem;
		font-weight: bold;

		li
		{
			// Étape actuelle.
			color: $text-color;
			display: inline;
			padding: 0.25rem 0.5rem;
			margin-right: 0.25rem;
			background-color: $box-color;

			&.active
			{
				// Étape active.
				color: $box-color;
				background-color: $text-color;
			}
		}
	}
}

// ------------------------------------ //
// Conteneur : notifications textuelles //
// ------------------------------------ //
#notifications
{
	// Calcul de la position Y du conteneur.
	$positionY: $footer-height * 2.5;

	// Personnalisation du conteneur.
	left: 50%;
	color: $background-color;
	bottom: $positionY;
	border: 3px solid $border-color;
	display: none;
	padding: 1rem;
	z-index: 2;
	position: fixed;
	min-width: 100px;
	max-width: $html-min-width;
	transform: translateX(-50%);
	visibility: hidden;
	font-weight: bold;
	border-radius: 0.5rem;

	@media screen and (max-width: 768px)
	{
		// Modification des dimensions sur les téléphones.
		left: 0;
		margin: 0 1rem 0 1rem;
		transform: none;
		max-width: 100%;
	}

	i
	{
		// Icône de notification.
		font-size: 1.5rem;
	}

	&.error
	{
		// Couleur de fond lors des erreurs.
		background-color: $error-color;
	}

	&.success
	{
		// Couleur de fond lors d'une validation.
		background-color: $validate-color;
	}

	&.info
	{
		// Couleur de fond pour une information.
		background-color: $info-color;
	}

	&.show
	{
		// Apparition de l'élément avec une transition.
		gap: 0.75rem;
		display: flex;
		animation: fadeIn 500ms;
		visibility: visible;
		align-items: center;
	}

	&.hide
	{
		// Disparition de l'élément avec une transition.
		animation: fadeOut 500ms;
	}

	@keyframes fadeIn
	{
		// Apparition du bas vers le haut.
		from { bottom: 0; opacity: 0 }
		to { bottom: $positionY; opacity: 1; }
	}

	@keyframes fadeOut
	{
		// Disparition du haut vers le bas.
		from { bottom: $positionY; opacity: 1; }
		to { bottom: 0; opacity: 0; }
	}
}

// ------------------------------ //
// Conteneur : bouton des astuces //
// ------------------------------ //
#tips
{
	position: fixed;

	span
	{
		// Texte de l'astuce caché par défaut.
		width: 40%;
		display: none;

		@media screen and (max-width: 768px)
		{
			// Dimensionnement pour les téléphones.
			width: calc(100% - 5.5rem);
		}
	}

	button
	{
		// Disposition et affichage.
		color: $text-color;
		width: 3rem;
		right: 0.5rem;
		height: 3rem;
		bottom: 4.25rem;
		border: 1px solid $border-color;
		position: fixed;
		font-size: 1.5rem;
		transition: color 250ms, background-color 250ms;
		font-weight: bold;
		border-radius: 50%;
		background-color: $box-color;

		&:hover
		{
			// Effet de sélection.
			color: $box-color;
			background-color: $text-color;

			+ span
			{
				// Affichage du texte de l'astuce lorsque l'icône
				//  est sélectionné par l'utilisateur.
				color: $text-color;
				right: 4rem;
				bottom: 4.1rem;
				border: 1px solid $border-color;
				padding: 0.5rem;
				display: inline-block;
				position: fixed;
				background-color: $box-color;
			}
		}

		&::after
		{
			// Amélioration de la zone de sélection.
			@extend %larger-touch-zone;
		}
	}
}

// ------------ //
// Pied-de-page //
// ------------ //
footer
{
	// Disposition et apparence.
	color: $text-color;
	width: calc(100% - 2rem);
	height: 1.75rem;
	bottom: -1px;
	padding: 1rem;
	z-index: 5;
	position: fixed;
	min-width: $html-min-width;
	background-color: $box-color;

	ul li
	{
		// Liste des options.
		display: inline-block;
		position: relative;
		font-size: 1.5rem;
		margin-right: 2rem;

		a
		{
			@media screen and (max-width: 768px)
			{
				// Effet de sélection des icônes sur les téléphones.
				i:hover
				{
					color: $background-color;
					transition: color 250ms;
				}
			}

			span
			{
				// Lien vers les pages.
				color: $background-color;
				transition: color 150ms, background-color 150ms;

				@media screen and (max-width: 768px)
				{
					// Suppression des libellés sur les téléphones
					display: none;
				}

				&:hover
				{
					// Effet de sélection.
					color: $box-color;
					font-weight: bold;
					background-color: $text-color;
				}

				&::after
				{
					// Amélioration de la zone de sélection.
					@extend %larger-touch-zone;
				}
			}
		}

		img
		{
			// Espacement des images.
			margin-right: 0.25rem;
		}

		&:nth-last-of-type(2)
		{
			// Bouton de sélection de la langue.
			float: right;
			margin-right: 0;

			ul
			{
				// Liste des langues disponibles.
				left: -3.5rem;
				bottom: 3rem;
				display: none;
				position: absolute;

				// Correction du positionnement à gauche sur
				//  les navigateurs Firefox.
				@-moz-document url-prefix()
				{
					left: -3.75rem;
				}

				li
				{
					margin: 0.5rem 0 0;

					button
					{
						// Bouton pour changer vers la langue sélectionnée.
						color: $box-color;
						padding: 0.5rem;
						transition: color 250ms, background-color 250ms;
						border-radius: 0.5rem;
						background-color: $text-color;

						i
						{
							// Drapeau représentant la langue.
							width: 2rem;
							margin: 0 0 -0.25rem;
						}

						span
						{
							// Nom de la langue.
							font-size: 1.25rem;
							font-weight: bold;
						}

						&:hover
						{
							// Effet de sélection.
							color: $text-color;
							background-color: $box-color;
						}
					}

					&:last-of-type::after
					{
						// Petite astuce pour pouvoir garder le menu ouvert
						//  lorsque l'utilisateur déplace sa souris vers un
						//  des boutons du menu.
						bottom: -4rem;
						content: "";
						z-index: -1;
						position: absolute;
					}
				}
			}

			&::after
			{
				// Astuce pour faire afficher le menu sans utiliser de
				//  de code JavaScript (voir commentaire précédent).
				top: -0.5rem;
				left: -0.5rem;
				right: -0.5rem;
				bottom: -0.5rem;
				content: "";
				z-index: -1;
				position: absolute;
			}

			&:hover
			{
				// Sélection de l'icône des langues.
				cursor: pointer;

				ul
				{
					// Affichage des langues disponibles.
					display: block;
				}

				i
				{
					// Changement de la couleur de l'icône.
					color: $background-color;
					transition: color 250ms;
				}
			}
		}

		&:last-of-type
		{
			// Bouton de consentement des cookies.
			float: right;
			margin-right: 1rem;

			&::after
			{
				// Astuce pour faire afficher le menu sans utiliser de
				//  de code JavaScript (voir commentaire précédent).
				top: -0.5rem;
				left: -0.5rem;
				right: -0.5rem;
				bottom: -0.5rem;
				content: "";
				position: absolute;
			}

			&:hover
			{
				// Sélection de l'icône du consentement des cookies.
				cursor: pointer;

				i
				{
					// Changement de la couleur de l'icône.
					color: $background-color;
					transition: color 250ms;
				}
			}
		}
	}

	> div
	{
		// Indicateur de défilement.
		//  Source : https://www.w3schools.com/howto/howto_js_scroll_indicator.asp
		top: 0.5rem;
		height: 0.25rem;
		position: relative;
		background: $border-color;
		box-shadow: none;

		@media screen and (min-width: 1024px)
		{
			// Disparition de l'indicateur sur ordinateurs.
			display: none;
		}

		div
		{
			// Défilement depuis le JavaScript.
			width: 0;
			height: 0.25rem;
			background: $text-color;
		}
	}
}