// ------------------ //
// Variables globales //
// ------------------ //
@import "../desktop/dashboard";

// ------- //
// En-tête //
// ------- //
header
{
	color: $text-color;
	height: 6.25rem;
	padding: 0.5rem;
	background-color: $box-color;

	img
	{
		// Disparition du logo.
		display: none;
	}

	h1
	{
		// Ajustement du titre de la page.
		top: 0;
		left: 1.5rem;
		bottom: unset;
		position: absolute;
		font-size: revert;
	}

	h2
	{
		// Ajustement du sous-titre de la page.
		top: 3rem;
		left: 1.5rem;
		width: 300px;
		bottom: unset;
		position: absolute;
		font-size: revert;
	}

	div
	{
		// Disparition de la barre de recherche.
		display: none;
	}
}

// ---------------- //
// Corps de la page //
// ---------------- //
main
{
	// Modification du nombre de lignes/colonnes.
	grid-template-rows: 0.5fr;
	grid-template-columns: 1fr;

	section, article, nav
	{
		// Mise en place de tailles fixes.
		width: 100%;
		max-width: 350px;
		box-sizing: border-box;
	}

	p
	{
		// Modification des marges et de la disposition.
		margin: 0 5% 0 5%;
		grid-area: 1 / 1 / 2 / 2;
	}

	nav
	{
		// Modification de la grille.
		grid-area: 2 / 1 / 3 / 2;

		ul li
		{
			// Modification de l'affichage.
			display: inline-block;
			position: relative;

			a i
			{
				// Suppression de la marge droite.
				margin-right: 0;

				+ span
				{
					// Suppression du titre.
					display: none;
				}
			}

			&::after
			{
				// Amélioration de la zone de sélection.
				@extend %larger-touch-zone;
			}
		}
	}

	#servers
	{
		// Modification de la grille.
		grid-area: 7 / 1 / 8 / 2;
	}

	#overview
	{
		// Modification des grilles.
		grid-area: 3 / 1 / 5 / 2;
	}

	#last
	{
		// Modification de la grille.
		grid-area: 5 / 1 / 6 / 2;
	}

	#stats
	{
		// Suppression des statistiques.
		grid-area: 6 / 1 / 7 / 2;
	}
}