// --------------- //
// Base de travail //
// --------------- //
@import "../desktop/index";

// ------- //
// En-tête //
// ------- //
header ul
{
	// Centrage des boutons.
	gap: 1rem;
	display: flex;
	position: initial;
	justify-content: center;

	li
	{
		// Disposition en ligne.
		display: inline;
	}
}

// -------------------------------- //
// Section : informations générales //
// -------------------------------- //
#informations
{
	// Modification de la disposition flex.
	gap: 0;
	flex-direction: column;

	ul img
	{
		// Suppression de l'image de présentation.
		display: none;
	}

	article
	{
		// Agrandissement du texte de présentation.
		width: auto;

		img
		{
			// Dynamisation des dimensions du logo.
			width: auto;
			max-width: 26rem;
		}
	}
}