// --------------- //
// Base de travail //
// --------------- //
@import "../desktop/index";

// ------- //
// En-tête //
// ------- //
header ul
{
	// Centrage des boutons.
	width: 320px;
	position: initial;
	margin-left: auto;
	margin-right: auto;

	// Suppression du positionnement.
	right: initial;

	li
	{
		// Disposition en ligne.
		display: inline;

		&:first-of-type
		{
			margin-right: 1rem;
		}
	}
}

// -------------------------------- //
// Section : informations générales //
// -------------------------------- //
#informations
{
	// Modification de la disposition flex.
	gap: 0;
	flex-direction: column;

	ul img
	{
		// Suppression de l'image de présentation.
		display: none;
	}

	article
	{
		// Agrandissement du texte de présentation.
		width: auto;
	}
}