// -------------- //
// Version mobile //
// -------------- //
@media screen and (max-width: 768px)
{
	// --------------- //
	// Base de travail //
	// --------------- //
	@import "../desktop/admin";

	// ---------------- //
	// Corps de la page //
	// ---------------- //
	main
	{
		// Modification du nombre de lignes/colonnes.
		min-height: 0;
		margin-bottom: 4rem;
		justify-items: center;
		grid-template-columns: 1fr;

		section, article, nav
		{
			// Mise en place de tailles fixes.
			width: 100%;
			max-width: $html-min-width;
			box-sizing: border-box;
		}

		nav
		{
			// Modification de la grille.
			grid-area: 1 / 1 / 2 / 2;

			ul li
			{
				// Modification de l'affichage.
				display: inline-block;

				a
				{
					// Modification de la zone sélection.
					position: relative;

					i
					{
						// Suppression de la marge droite.
						margin-right: 0;

						+ span
						{
							// Suppression du titre.
							display: none;
						}
					}

					&::after
					{
						// Amélioration de la zone de sélection.
						@extend %larger-touch-zone;
					}
				}
			}
		}

		#tables
		{
			// Modification de la grille.
			height: auto;
			display: revert;
			grid-area: 2 / 1 / 3 / 2;

			div
			{
				// Changement de la direction.
				height: auto;
				flex-direction: column;

				form:last-of-type
				{
					// Modification de l'apparence.
					width: auto;
					display: flex;
					flex-direction: column;
					justify-content: center;

					p
					{
						// Suppression de la transformation.
						top: 0;
						transform: none;
					}
				}
			}
		}
	}
}