<!-- Logo du site -->
<img src="assets/images/placeholder.svg" alt="Logo du site" />

<!-- Titre du site -->
<h1>{{ title }}</h1>

<!-- Sous-titre du site -->
<h2>{{ subtitle }}</h2>

<!-- Barre de recherche -->
<form method="POST">
	<i class="bi bi-search"></i>
	<span>Actions rapides</span>
	<input type="text" id="search" name="search" placeholder="recherche..." maxlength="20" required />
</form>

<!-- État de connexion -->
<a href="index.php">
	<i class="bi bi-person-circle"></i>
	<span>Connecté sous<br />username</span>
</a>