<!-- Logo du site -->
<img src="path" alt="Logo du site" />

<!-- Titre du site -->
<h1>{{ title }}</h1>

<!-- Barre de recherche -->
<img src="path" alt="Icône de la barre de recherche" />
<input type="text" id="search" name="search" placeholder="recherche..." />

<!-- État de connexion -->
<img src="path" alt="Icône de l'état utilisateur" />
<span>Connecté sous ...</span>