<!-- Logo du site -->
<img src="assets/images/placeholder.svg" alt="Logo du site" />

<!-- Titre du site -->
<h1>{{ title }}</h1>

<!-- Sous-titre du site -->
<h2>{{ subtitle }}</h2>

<!-- Barre de recherche -->
<div>
	<i class="bi bi-search"></i>

	<span>Actions rapides</span>

	<input type="text" name="search" placeholder="Recherche..." maxlength="20" required />

	<ul>
		<li>Résultat 1</li>
		<li>Résultat 2</li>
		<li>Résultat 3</li>
	</ul>
</div>

<!-- État de connexion -->
<a href="?target=user">
	<i class="bi bi-person-circle"></i>
	<span>Connecté sous<br />username</span>
</a>