<!-- Informations générales de l'utilisateur -->
<article id="user">
	<!-- Titre du formulaire -->
	<h2>Inscription</h2>

	<!-- Description du formulaire -->
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</p>

	<!-- Spécifications juridiques -->
	<img src="path" draggable="false" alt="Icône d'avertissement" />
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

	<!-- Champs du formulaire -->
	<form>
		<!-- Nom d'utilisateur -->
		<label for="username">Choisissez un nom d'utilisateur<span>*</span></label>
		<input type="text" id="username" name="username" placeholder="Nom d'utilisateur" required />

		<!-- Mot de passe -->
		<label for="password">Choisissez un mot de passe<span>*</span></label>
		<input type="password" id="password" name="password" placeholder="Mot de passe" required />

		<!-- Génération d'un mot de passe sécurisé -->
		<label for="generation">Générer un mot de passe sécurisé</label>
		<input type="checkbox" id="generation" /><br /><br />

		<!-- Validation/annulation -->
		<input type="cancel" value="Annuler" />
		<input type="submit" value="Valider" />
	</form>

	<!-- Liste des étapes actuelles -->
	<ul>
		<li><strong>1</strong></li>
		<li>2</li>
		<li>3</li>
	</ul>

	<!-- Bouton vers une info-bulle -->
	<button>?</button>
	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</article>

<!-- Informations du serveur -->
<article id="server">
	<!-- Titre du formulaire -->
	<h2>Informations du serveur</h2>

	<!-- Description du formulaire -->
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</p>

	<!-- Spécifications juridiques -->
	<img src="path" draggable="false" alt="Icône d'avertissement" />
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

	<!-- Champs du formulaire -->
	<form>
		<!-- Informations client (adresse IP & port) -->
		<label>Saisissez les informations client<span>*</span></label>

		<input type="text" id="address" name="address" placeholder="XX.XX.XX.XX" required />
		<input type="text" id="port" name="port" placeholder="XX" required />

		<span>Description brève des informations demandées.</span>

		<!-- Informations administrateur (adresse IP, port & mot de passe) -->
		<label>Saisissez les informations administrateur</label>

		<input type="text" id="address" name="address" placeholder="XX.XX.XX.XX" required />
		<input type="text" id="port" name="port" placeholder="XX" required />
		<input type="text" id="password" name="password" placeholder="Mot de passe" required />

		<span>Description brève des informations demandées.</span>

		<!-- Paramètres de liaison -->
		<label for="secure_only">Accepter uniquement les connexions sécurisées</label>
		<input type="checkbox" id="secure_only" /><br /><br />

		<label for="auto_connect">Ne pas se connecter automatiquement</label>
		<input type="checkbox" id="auto_connect" /><br /><br />

		<!-- Validation/annulation -->
		<input type="cancel" value="Annuler" />
		<input type="submit" value="Valider" />
	</form>

	<!-- Liste des étapes actuelles -->
	<ul>
		<li>1</li>
		<li><strong>2</strong></li>
		<li>3</li>
	</ul>

	<!-- Bouton vers une info-bulle -->
	<button>?</button>
	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
</article>