<nav>
	<h2>Navigation</h2>

	<ul>
		<li>
			<!-- Tableau de bord -->
			<img src="path" alt="Icône du tableau de bord" />
			<span>Tableau de bord</span>
		</li>

		<li>
			<!-- Statistiques -->
			<img src="path" alt="Icône des statistiques" />
			<span>Statistiques</span>
		</li>

		<li>
			<!-- Configuration -->
			<img src="path" alt="Icône de la configuration" />
			<span>Configuration</span>
		</li>

		<li>
			<!-- Actions et commandes -->
			<img src="path" alt="Icône des actions et commandes" />
			<span>Actions / Commandes</span>
		</li>

		<li>
			<!-- Console interactive -->
			<img src="path" alt="Icône de la console interactive" />
			<span>Console interactive</span>
		</li>

		<li>
			<!-- Tâches planifiées -->
			<img src="path" alt="Icône des tâches planifiées" />
			<span>Tâches planifiées</span>
		</li>
	</ul>
</nav>