<nav>
	<h2>Navigation</h2>

	<ul>
		<li>
			<!-- Tableau de bord -->
			<a href="index.php">
				<i class="bi bi-kanban"></i>
				<span>Tableau de bord</span>
			</a>
		</li>

		<li>
			<!-- Statistiques -->
			<a href="index.php">
				<i class="bi bi-graph-up"></i>
				<span>Statistiques</span>
			</a>
		</li>

		<li>
			<!-- Configuration -->
			<a href="index.php">
				<i class="bi bi-tools"></i>
				<span>Configuration</span>
			</a>
		</li>

		<li>
			<!-- Actions et commandes -->
			<a href="index.php">
				<i class="bi bi-lightning"></i>
				<span>Actions / Commandes</span>
			</a>
		</li>

		<li>
			<!-- Console interactive -->
			<a href="index.php">
				<i class="bi bi-code-slash"></i>
				<span>Console interactive</span>
			</a>
		</li>

		<li>
			<!-- Tâches planifiées -->
			<a href="index.php">
				<i class="bi bi-calendar3"></i>
				<span>Tâches planifiées</span>
			</a>
		</li>
	</ul>
</nav>