<ul>
	<li>
		<!-- Bouton de retour à l'accueil -->
		<a href="?target=index">
			<i class="bi bi-house-door"></i>
			<span>Accueil</span>
		</a>
	</li>

	<li>
		<!-- Bouton du plan du site -->
		<a href="index.php">
			<i class="bi bi-geo-alt"></i>
			<span>Plan du site</span>
		</a>
	</li>

	<li>
		<!-- Bouton du formulaire de contact -->
		<a href="javascript:void(0);">
			<i class="bi bi-envelope"></i>
			<span>Contact</span>
		</a>
	</li>

	<li>
		<!-- Bouton de la page d'assistance -->
		<a href="?target=help">
			<i class="bi bi-question-circle"></i>
			<span>Assistance</span>
		</a>
	</li>

	<li>
		<!-- Sélecteur des langues -->
		<i class="bi bi-translate"></i>
		<form method="POST">
			<ul>
				<li>
					<!-- Français -->
					<button type="submit" name="language" value="FR">
						<img src="assets/images/flags/fr.svg" alt="Drapeau français" />
						<span>Français</span>
					</button>
				</li>

				<li>
					<!-- Anglais -->
					<button type="submit" name="language" value="EN">
						<img src="assets/images/flags/gb.svg" alt="Drapeau britannique" />
						<span>Anglais</span>
					</button>
				</li>
			</ul>
		</form>
	</li>
</ul>