{# Modèle de base #}
{% extends "_main.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

	{# Contrôleur principal #}
	<section id="controller">
		{# Titre de la section #}
		<h2>Contrôleur principal</h2>

		{# Champ de saisie #}
		<div>
			<input type="text" name="command" placeholder="Écrivez quelque chose..." required />

			<button type="button" name="execute" value="bash">
				<i class="bi bi-send-fill"></i>
			</button>
		</div>

		{# Historique des commandes #}
		<ul>
			{# Première commande #}
			<li>command_name value</li>

			{# Deuxième commande #}
			<li>command_name value</li>

			{# Troisième commande #}
			<li>command_name value</li>
		</ul>
	</section>

	{# Terminal de la console #}
	<section id="terminal">
		{# Titre de la section #}
		<h2>Terminal d'observation</h2>

		{# Liste des événements #}
		<ul>
			{# Première ligne #}
			<li>Lorem ipsum</li>

			{# Deuxième ligne #}
			<li>Lorem ipsum</li>

			{# Troisième ligne #}
			<li>Lorem ipsum</li>
		</ul>
	</section>
{% endblock %}