{# Modèle de base #}
{% extends "0_base.twig" %}

{# En-tête de la page #}
{% block header_html %}
	<ul>
		{# Formulaire d'inscription #}
		<li><button type="button">Inscription</button></li>

		{# Formulaire de connexion #}
		<li><button type="button">Connexion</button></li>
	</ul>
{% endblock %}

{# Barre de navigation #}
{% block navigation_html %} {% endblock %}

{# Contenu de la page demandé #}
{% block content_html %}
	{# Vidéo en arrière-plan #}
	<video autoplay muted loop>
		<source src="assets/videos/landing.mp4" type="video/mp4" />
	</video>

	{# Informations générales du site #}
	<section id="informations">
		{# Carrousel des images #}
		<ul>
			<li><img src="https://randomwordgenerator.com/img/picture-generator/57e2dd474e50ab14f1dc8460962e33791c3ad6e04e507441722a72dc9148c3_640.jpg" alt="Image d'introduction" /></li>
			<li><img src="https://randomwordgenerator.com/img/picture-generator/53e6dc434f52a914f1dc8460962e33791c3ad6e04e507749712e79d09148cc_640.jpg" alt="Première image" /></li>
			<li><img src="https://randomwordgenerator.com/img/picture-generator/lion-3012515_640.jpg" alt="Deuxième image" /></li>
			<li><img src="https://randomwordgenerator.com/img/picture-generator/57e4d0454853a814f1dc8460962e33791c3ad6e04e5074417c2a79dd944acc_640.jpg" alt="Troisième image" /></li>
		</ul>

		{# Présentation des fonctionnalités #}
		<article>
			{# Logo du site #}
			<img src="path" alt="Logo du site" />

			{# Titre du site #}
			<h1>{{ page_title }}</h1>

			{# Bouton de défilement (précédent) #}
			<button type="button">
				<i class="bi bi-caret-up-fill"></i>
			</button>

			{# Paragraphe pour chaque image #}
			<ul>
				<li>
					0Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</li>
				<li>
					1Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</li>
				<li>
					2Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</li>
				<li>
					3Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</li>
			</ul>

			{# Bouton de défilement (suivant) #}
			<button type="button">
				<i class="bi bi-caret-down-fill"></i>
			</button>
		</article>
	</section>

	{# À propos de nous #}
	<section id="aboutus">

	</section>

	{# Formulaire d'inscription #}
	<section id="signup">
		{% include("4_signup.twig") %}
	</section>

	{# Formulaire de connexion #}
	<section id="signin">
		{% include("5_signin.twig") %}
	</section>
{% endblock %}