{# Modèle de base #}
{% extends "base.html.twig" %}

{# En-tête de la page #}
{% block header %} {% endblock %}

{# Barre de navigation #}
{% block navigation %} {% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{% set locale = (app.request.locale ?? app.request.defaultLocale) %}

	{% if locale == "fr" %}
		<h1>Mentions Légales</h1>

		<em>Applicable à partir du 1er janvier 2025</em>

		<h2>Crédits</h2>

		<p>
			La console d'administration en ligne accessible à l'adresse <a href="https://console.florian-dev.fr/">https://console.florian-dev.fr/</a> a été créée et est maintenue par Florian Trayon (personne physique).
			Le site Internet est hébergé par OVH – 2 rue Kellermann – 59100 Roubaix – France.
		</p>

		<p>
			Le responsable du traitement, de la publication et des données personnelles (DPO) est Florian Trayon.
			Pour toute question relative à la gestion de vos données personnelles par ce site, veuillez nous contacter à l'adresse suivante :
			<a href="mailto:contact@florian-dev.fr">contact@florian-dev.fr</a> ou via le formulaire de contact.
		</p>

		<h2>Respect de la vie privée</h2>

		<p>
			Le service proposé par Source Web Console se veut exemplaire en matière de respect de la vie privée.
			C'est pourquoi la collecte de données personnelles est limitée au strict nécessaire.
		</p>

		<p>
			<strong>Premièrement</strong>, l'utilisation de Google Analytics et de Google reCAPTCHA est restreinte au strict nécessaire et requiert explicitement votre consentement.
			Vous pouvez désactiver Google Analytics sans affecter le fonctionnement du site, celui-ci est utilisé pour obtenir des statistiques de fréquentation.
			En revanche, l'activation de Google reCAPTCHA est indispensable pour accéder à la majorité des fonctionnalités.
			En effet, Google reCAPTCHA assure une sécurité concernant les actions que vous pourrez effectuer sur le site Internet.
			Notez que les scripts de Google ne sont pas chargés si vous refusez leur utilisation.
			Si vous les acceptez, ces scripts sont alors chargés depuis les serveurs de Google et soumis à leur politique de confidentialité ainsi qu'à leurs conditions générales d'utilisation.
		</p>

		<p>
			<strong>Deuxièmement</strong>, tous les mots de passe et données sensibles sont hachés, chiffrés et salés avant d'être stockés dans la base de données.
			Nous mettons tout en œuvre pour garantir l'intégrité des données transmises et pour empêcher tout accès non autorisé par des tiers.
			Si vous avez des interrogations quant à la manière dont nous utilisons ou traitons vos données, sachez que le code source complet du site est accessible sur GitHub.
		</p>

		<p>
			<strong>Enfin</strong>, en ce qui concerne la journalisation, nous limitons la collecte des données au strict nécessaire.
			Ces dernières sont utilisées uniquement à des fins de débogage et de surveillance technique.
		</p>

		<h2>Conditions d'utilisation</h2>

		<p>
			Toute personne utilisant les services de Source Web Console s'engage à respecter les présentes conditions générales d'utilisation.
			L'utilisation de Source Web Console est libre et gratuite, quel que soit le cadre, le code source du projet étant disponible sur GitHub.
			Toute activité malveillante ou illicite est strictement interdite.
		</p>

		<p>
			Nous nous réservons le droit de supprimer, sans préavis, le service ou l'accès à celui-ci en cas d'utilisation abusive.
			Les mots de passe sont hachés conformément aux normes de sécurité les plus récentes et aux bonnes pratiques en vigueur.
			En cas de perte de l'accès à votre compte utilisateur, nous ne pourrons pas vous restituer un mot de passe oublié, car nous n'en connaissons pas la valeur.
		</p>

		<p>
			Conformément au Règlement Général sur la Protection des Données, vous disposez d'un droit d'accès, de rectification, de modification et de suppression des données personnelles que vous nous avez communiquées.
			Vous pouvez exercer ce droit à tout moment en écrivant à : <a href="mailto:contact@florian-dev.fr">contact@florian-dev.fr</a>.
		</p>

		<h2>Responsabilité</h2>

		<p>
			Le service est fourni tel quel. Le site Internet peut interagir ou communiquer avec des serveurs tiers et des services externes.
			L'utilisation du service relève de la seule responsabilité de l'utilisateur, et nous ne saurions être tenus responsables de tout préjudice résultant de sa publication ou de son utilisation.
			Nous ne pourrons pas être tenus responsables de toute indisponibilité du service, qui peut survenir 24h/24 et 7j/7, jusqu'à la décommission du projet.
		</p>

		<h2>Droit applicable</h2>

		<p>
			Les présentes conditions générales d'utilisation ainsi que l'ensemble du contenu du site sont soumis à la législation française.
			Tout litige relatif à leur interprétation relèvera de la compétence exclusive du tribunal de commerce de Nice.
		</p>
	{% else %}
		<h1>Legal Notices</h1>

		<em>Applicable from January 1, 2025</em>

		<h2>Credits</h2>

		<p>
			The online administration console accessible at <a href="https://console.florian-dev.fr/">https://console.florian-dev.fr/</a> was created and is maintained by Florian Trayon (an individual).
			The website is hosted by OVH – 2 rue Kellermann – 59100 Roubaix – France.
		</p>

		<p>
			The data controller, publisher, and personal data manager (DPO) is Florian Trayon.
			For any questions regarding the management of your personal data on this website, please contact us at:
			<a href="mailto:contact@florian-dev.fr">contact@florian-dev.fr</a> or via the contact form.
		</p>

		<h2>Privacy Policy</h2>

		<p>
			The service offered by Source Web Console strives to be exemplary in terms of privacy.
			That is why the collection of personal data is limited to what is strictly necessary.
		</p>

		<p>
			<strong>Firstly</strong>, the use of Google Analytics and Google reCAPTCHA is limited to what is strictly necessary and explicitly requires your consent.
			You can disable Google Analytics without affecting the functionality of the site, as it is used to obtain visitor statistics.
			However, activating Google reCAPTCHA is essential to access most of the features.
			In fact, Google reCAPTCHA ensures security regarding the actions you can take on the website.
			Please note that Google's scripts are not loaded if you refuse their use.
			If you accept them, these scripts are then loaded from Google's servers and are subject to their privacy policy and terms of use.
		</p>

		<p>
			<strong>Secondly</strong>, all passwords and sensitive data are hashed, encrypted, and salted before being stored in the database.
			We take every measure to ensure the integrity of the transmitted data and to prevent any unauthorized access by third parties.
			If you have any questions regarding how we use or process your data, please note that the complete source code of the website is available on GitHub.
		</p>

		<p>
			<strong>Finally</strong>, regarding logging, we limit data collection to what is strictly necessary.
			This data is used solely for debugging and technical monitoring purposes.
		</p>

		<h2>Terms of Use</h2>

		<p>
			Anyone using the services of Source Web Console agrees to abide by these general terms of use.
			The use of Source Web Console is free and open to all, with the project's source code available on GitHub.
			Any malicious or illegal activity is strictly prohibited.
		</p>

		<p>
			We reserve the right to remove the service or access to it without notice in the event of abusive use.
			Passwords are hashed in accordance with the latest security standards and best practices.
			In the event of losing access to your user account, we will not be able to retrieve a forgotten password, as we do not store its value.
		</p>

		<p>
			In accordance with the General Data Protection Regulation, you have the right to access, rectify, modify, and delete the personal data you have provided to us.
			You may exercise this right at any time by writing to: <a href="mailto:contact@florian-dev.fr">contact@florian-dev.fr</a>.
		</p>

		<h2>Liability</h2>

		<p>
			The service is provided as is. The website may interact or communicate with third-party servers and external services.
			The use of the service is the sole responsibility of the user, and we cannot be held liable for any damage resulting from its publication or use.
			We cannot be held responsible for any unavailability of the service, which may occur 24/7 until the project is decommissioned.
		</p>

		<h2>Applicable Law</h2>

		<p>
			These terms of use and all the content of the website are governed by French law.
			Any dispute regarding their interpretation shall be subject to the exclusive jurisdiction of the Commercial Court of Nice.
		</p>
	{% endif %}
{% endblock %}