{# Modèle de base #}
{% extends "_main.twig" %}

{# Injection de code JavaScript #}
{% block javascript %}
	<script>
		// Texte d'affichage pour la tranche d'heures entre 0 et 24.
		const utc_time = "Heure UTC";

		// Texte pour l'affichage du nombre de joueurs/clients.
		const player_count = "Nombre de joueurs";

		// Texte pour le pourcentage d'utilisation du processeur.
		const cpu_usage = "Processeur (en %)";

		// Texte pour le pourcentage d'utilisateur de la mémoire.
		const ram_usage = "Mémoire vive (en %)";

		// Texte pour le pourcentage d'utilisation des ressources matérielles.
		const usage_percent = "Pourcentage d'utilisation";
	</script>
{% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ statistics_phrases["statistics_description"] }}</p>

	{# Liste des graphiques #}
	<section id="charts">
		{# Titre de la section #}
		<h2>{{ header_phrases["header_subtitle_statistics"] }}</h2>

		{# Graphique du nombre de joueurs #}
		<canvas id="player_count"></canvas>

		{# Graphique d'utilisation des performances #}
		<canvas id="server_usage"></canvas>
	</section>

	{# Overlay d'orientation de l'appareil #}
	<section id="orientation">
		{# Animation du téléphone #}
		<article></article>

		{# Message d'information à l'utilisateur #}
		<p>{{ statistics_phrases["statistics_orientation"] }}</p>
	</section>
{% endblock %}