{# Modèle de base #}
{% extends "0_base.twig" %}

{# Contenu de la page demandé #}
{% block content_html %}
	{# Description de la page #}
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

	{# Liste des graphiques #}
	<section id="charts">
		{# Titre de la section #}
		<h2>Statistiques</h2>

		{# Graphique du nombre de joueurs #}
		<canvas id="player_count"></canvas>

		{# Graphique d'utilisation des performances #}
		<canvas id="server_usage"></canvas>
	</section>

	{# Overlay d'orientation de l'appareil #}
	<section id="orientation">
		{# Animation du téléphone #}
		<article></article>

		{# Message d'information à l'utilisateur #}
		<p>Veuillez tourner votre appareil.</p>
	</section>
{% endblock %}