{# Modèle de base #}
{% extends "base.twig" %}

{# En-tête de la page #}
{% block header %} {% endblock %}

{# Contenu de la page demandé #}
{% block content %}
	<section id="tables">
		{# Titre de la section #}
		<h2>Édition des données</h2>

		{# Description de la section #}
		<p>
			Voici toutes les tables présentes dans la base de données du site.
			<br /><br />
			Tout d'abord, sélectionnez une table afin d'afficher une partie de son contenu.
			Ensuite, vous aurez la possibilité d'ajouter de nouvelles données, les modifier mais également de les supprimer.
			Enfin, par soucis de performances générales, la visualisation du contenu des tables se fait par tranche de résultats.
			<br /><br />
			Lors de la première requête, vous obtiendrez les <strong>25</strong> premiers résultats puis en allant de nouveau sur cette
			même table, vous obtiendrez une seconde tranche de résultats et ainsi de suite jusqu'à la fin.
		</p>

		<div>
			{# Sélection de la catégorie #}
			<form method="POST">
				<ul>
					{% for table in admin_tables %}
						<li>
							<input type="submit" name="show" value="{{ table|first }}" />
						</li>
					{% endfor %}
				</ul>
			</form>

			{# Modification des données #}
			<form method="POST">
				<!-- Texte initial -->
				{% if admin_result|length == 0 %}
					<p>Aucune table n'est actuellement sélectionnée.</p>
				{% endif %}

				<!-- Table des données -->
				<table>
					{{ admin_result }}
				</table>
			</form>
		</div>
	</section>
{% endblock %}