{# Modèle de base #}
{% extends "base.twig" %}

{# Contenu de la page demandé #}
{% block content %}
	{# Description de la page #}
	<p>{{ user_phrases["user_description"] }}</p>

	{# Informations du compte #}
	<section id="account">
		{# Titre de la section #}
		<h2>Informations du compte</h2>

		{# Champs du formulaire #}
		<form novalidate>
			{# Nom d'utilisateur #}
			<div>
				<label for="username">{{ form_phrases["form_signup_username"] }}<span>*</span></label>
				<input type="text" autocomplete="username" spellcheck="false" id="username" name="username" placeholder="johndoe" minlength="10" maxlength="50" required />
			</div>

			{# Mot de passe #}
			<div>
				<label for="password">{{ form_phrases["form_signup_password"] }}<span>*</span></label>
				<input type="password" autocomplete="current-password" spellcheck="false" id="password" name="password" placeholder="?JohnDoe2022!" minlength="10" maxlength="60" required />
			</div>

			{# Validation finale #}
			<input type="submit" value="{{ global_phrases["global_update_title"] }}" />
		</form>
	</section>

	{# Ajout d'un serveur #}
	<section id="signup">
		{% include("form_signup.twig") %}
	</section>
{% endblock %}