// ------------------ //
// Variables globales //
// ------------------ //
@import "variables";
@import "mixins";

// --------------- //
// Document entier //
// --------------- //
html
{
	// Traitement des textes.
	color: $box-color;
	hyphens: auto;
	font-family: "Roboto", sans-serif;
	text-rendering: optimizeSpeed;

	// Disposition et affichage.
	min-width: $html-min-width;
	scroll-behavior: smooth;
}

h1
{
	// Titres principaux.
	font-family: "Source Sans Pro", sans-serif;
}

h2, h3, h4, h5, h6
{
	// Sous-titres.
	font-family: "Source Code Pro", serif;
}

ul, ol
{
	// Listes ordonnées/non-ordonnées.
	@extend %reset-list-style;
}

p, em
{
	// Paragraphes et textes.
	line-height: 1.375;
}

a
{
	// Liens d'ancrage.
	color: currentColor;
	text-decoration: none;
}

video
{
	// Vidéos en arrière-plan.
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.15;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
}

button
{
	// Boutons de sélection.
	@extend %reset-button-style;
	cursor: pointer;
	box-shadow: 0.25rem 0.25rem 0.25rem $border-color;
}

noscript
{
	// Avertissement page sans JavaScript.
	top: 1rem;
	right: 1rem;
	color: $background-color;
	padding: 0.5rem;
	z-index: 10;
	position: fixed;
	margin-left: 6rem;
	background-color: $error-color;
}

nav, section, article
{
	// Sections, articles et barre de navigation.
	box-shadow: 0.5rem 0.5rem 0.5rem $border-color;
}

input, textarea, select
{
	// Interrupteurs, champs de saisies et listes déroulantes.
	@extend %reset-button-style;
	resize: vertical;
	line-height: 1;
	border-radius: 0.5rem;
}

::selection
{
	// Sélection des textes.
	color: $text-color;
	background-color: $box-color;
}

// Personnalisation de la barre de défilement.
//	(Navigateurs WebKit uniquement : https://caniuse.com/css-scrollbar).
::-webkit-scrollbar
{
	// Taille de la barre.
	width: 0.75rem;
}

::-webkit-scrollbar-track
{
	// Fond de la barre.
	background-color: $background-color;
}

::-webkit-scrollbar-thumb
{
	// Couleur classique de la barre.
	background-color: $box-color;
}

::-webkit-scrollbar-thumb:hover
{
	// Couleur de la barre lors d'une sélection.
	background-color: $text-color;
}

// ------- //
// En-tête //
// ------- //
header
{
	color: $text-color;
	height: 6.25rem;
	padding: 0.5rem;
	user-select: none;
	background-color: $box-color;

	img
	{
		// Logo du site.
		width: 8rem;
	}

	h1
	{
		// Titre du site.
		left: 1.5rem;
		bottom: 3.5rem;
		display: inline-block;
		position: relative;
	}

	h2
	{
		// Sous-titre du site.
		right: 12rem;
		bottom: 1.25rem;
		display: inline-block;
		position: relative;
		font-size: 1.25rem;
		font-style: italic;
	}

	div
	{
		i
		{
			// Icône de la barre de recherche.
			top: 1.5rem;
			right: 19.5rem;
			position: absolute;
			font-size: 1.25rem;
		}

		span
		{
			// Intitulé du champ de saisie.
			top: 1.75rem;
			right: 12rem;
			color: $background-color;
			position: absolute;
		}

		input
		{
			// Champ de saisie de la barre de recherche.
			top: 3.5rem;
			right: 10rem;
			height: 1.5rem;
			padding: 0.25rem;
			position: absolute;

			&::placeholder
			{
				// Texte de remplissage par défaut.
				left: 0.25rem;
				position: relative;
			}

			&:focus
			{
				// Effet de sélection du champ.
				box-shadow: inset 0 0 0 3px $text-color;

				+ ul
				{
					// Résultats de la barre de recherche.
					top: 6rem;
					right: 10rem;
					width: 185px;
					border: 1px solid $border-color;
					display: block;
					position: absolute;
					background-color: $box-color;

					li
					{
						// Résultat quelconque.
						padding: 0.5rem;
						border-bottom: 1px solid $background-color;

						&:last-of-type
						{
							// Dernier résultat.
							border-bottom: none;
						}

						&:hover
						{
							// Effet de sélection.
							color: $box-color;
							cursor: pointer;
							background-color: $background-color;
						}
					}
				}
			}

			+ ul
			{
				// État initial des résultats.
				display: none;
			}
		}
	}

	a
	{
		i
		{
			// Icône de l'état de connexion.
			top: 1rem;
			right: 3.25rem;
			position: absolute;
			font-size: 2rem;
		}

		span
		{
			// Identifiants du compte actuellement connecté.
			top: 3.75rem;
			right: 1rem;
			color: $background-color;
			position: absolute;
			text-align: center;
		}

		&:hover i
		{
			// Effet de sélection.
			color: $background-color;
		}
	}
}

// -------------------------------------------- //
// Sections : inscription, connexion et contact //
// -------------------------------------------- //
#signup article, #signin, #contact
{
	// Disposition et affichage.
	top: calc(50% - $footer-height);
	left: 50%;
	width: 50%;
	border: 1px solid $text-color;
	z-index: 1;
	padding: 2rem;
	display: none;
	position: absolute;
	transform: translate(-50%, -50%);
	overflow-y: auto;
	max-height: 75vh;
	text-align: center;
	background-color: $background-color;

	@media screen and (max-width: 1023px)
	{
		// Modification de la taille sur terminaux mobiles.
		width: 75%;
	}

	h2
	{
		// Titre du formulaire.
		font-size: 2rem;
		margin-top: 0;
	}

	i
	{
		// Spécifications juridiques.
		left: 1rem;
		float: left;
		color: $error-color;
		position: relative;
		font-size: 2rem;
		margin-right: 1rem;
	}

	p, em
	{
		// Descriptions du formulaire.
		margin: 0 5% 1rem 5%;
	}

	form
	{
		// Formulaire.
		padding: 1rem;
		margin-top: 1.5rem;
		border-radius: 0.5rem;
		background-color: $box-color;

		p.error, p.success
		{
			// Message d'erreur.
			color: $error-color;
			border: 2px solid $error-color;
			padding: 0.5rem;
			font-style: normal;
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;

			span
			{
				// Champ « mot de passe oublié ? ».
				text-decoration: underline;
			}
		}

		p.success
		{
			// Message de succès.
			color: $validate-color;
			border: 2px solid $validate-color;
			text-transform: none;
		}

		p.capslock
		{
			// Message d'avertissement des majuscules.
			// 	Note : se contrôle via une action JavaScript.
			color: $error-color;
			font-size: 110%;
			font-weight: bold;
			text-transform: uppercase;
		}

		em
		{
			// Description brève des informations demandées.
			color: $background-color;
			display: block;
			text-align: justify;
			margin-bottom: 1.5rem;
		}

		a
		{
			// Liens vers l'inscription/connexion unique.
			color: $text-color;
			text-decoration: underline;

			&:hover
			{
				// Effet de sélection.
				color: $box-color;
				font-weight: bold;
				background-color: $text-color;
			}
		}

		hr
		{
			// Séparateur entre les articles.
			margin: 1.5rem 0 2rem;
			border-color: $background-color;
		}

		label
		{
			// Libellé du champ.
			color: $text-color;

			> span
			{
				// Champs requis.
				color: $error-color;
			}
		}

		input[type = text], input[type = email], input[type = password], textarea, select
		{
			// Champs et zones de saisies.
			width: calc(100% - 2rem);
			margin: 0.5rem 0 1rem 0;
			padding: 1rem;
			box-sizing: border-box;

			+ span
			{
				// Icône d'état des vérifications.
				position: relative;

				&::before
				{
					top: -2.5px;
					left: -1.75rem;
					position: absolute;
				}
			}
		}

		input[type = checkbox]
		{
			// Boites à cocher.
			margin-left: 0.5rem;

			&:checked
			{
				box-shadow: 0 0 0 3px $text-color;
			}
		}

		select
		{
			// Sélection des sujets.
			cursor: pointer;
		}

		textarea
		{
			// Zone de saisie principale.
			height: 200px;
			margin-bottom: 0;

			+ span::before
			{
				// Positionnement de l'icône des vérifications.
				top: -1.25rem;
				left: -2rem;
			}
		}

		input[type = reset]
		{
			// Application de l'apparence personnalisée.
			margin-top: 0.75rem;
			@extend %cancel-button-layout;
		}

		input[type = submit]
		{
			// Application de l'apparence personnalisée.
			margin-top: 0.75rem;
			@extend %submit-button-layout;
		}

		input:valid + span::before, textarea:valid + span::before
		{
			// Champ considéré comme valide.
			color: $validate-color;
			content: "✓";
			font-size: 1.5rem;
		}

		input:invalid + span::before, textarea:invalid + span::before
		{
			// Champ considéré comme invalide.
			color: $error-color;
			content: "✖";
			font-size: 1.5rem;
		}

		input:focus:invalid, textarea:focus:invalid
		{
			// Contour d'un champ/zone invalide.
			box-shadow: inset 0 0 0 3px red;
		}
	}

	ul
	{
		// Liste des étapes actuelles.
		float: right;
		margin: 0.75rem 0 -0.5rem 0;
		font-size: 1.25rem;
		font-weight: bold;

		li
		{
			// Étape actuelle.
			color: $text-color;
			display: inline;
			padding: 0.25rem 0.5rem;
			margin-right: 0.25rem;
			background-color: $box-color;

			&.active
			{
				// Étape active.
				color: $box-color;
				background-color: $text-color;
			}
		}
	}
}

// ------------------ //
// Bouton des astuces //
// ------------------ //
main >
{
	span
	{
		// Texte de l'astuce caché par défaut.
		display: none;
		margin-left: 1rem;
	}

	button
	{
		// Disposition et affichage.
		color: $text-color;
		width: 3rem;
		right: 0.5rem;
		height: 3rem;
		bottom: 4.25rem;
		position: fixed;
		font-size: 1.5rem;
		font-weight: bold;
		border-radius: 50%;
		background-color: $box-color;

		&:hover
		{
			// Effet de sélection.
			color: $box-color;
			background-color: $text-color;

			+ span
			{
				// Affichage du texte de l'astuce lorsque l'icône
				// 	est sélectionné par l'utilisateur.
				color: $text-color;
				right: 4rem;
				bottom: 4.6rem;
				border: 1px solid $border-color;
				padding: 0.5rem;
				display: inline-block;
				position: fixed;
				background-color: $box-color;
			}
		}

		&::after
		{
			// Amélioration de la zone de sélection.
			@extend %larger-touch-zone;
		}
	}
}

// ------------ //
// Pied-de-page //
// ------------ //
footer
{
	// Disposition et apparence.
	color: $text-color;
	width: calc(100% - 2rem);
	height: 1.75rem;
	bottom: -1px;
	padding: 1rem;
	z-index: 5;
	position: fixed;
	min-width: $html-min-width;
	user-select: none;
	background-color: $box-color;

	ul li
	{
		// Liste des options.
		display: inline-block;
		position: relative;
		font-size: 1.5rem;
		margin-right: 2rem;

		a
		{
			@media screen and (max-width: 768px)
			{
				// Effet de sélection des icônes sur les téléphones.
				i:hover
				{
					color: $background-color;
				}
			}

			span
			{
				// Lien vers les pages.
				color: $background-color;

				@media screen and (max-width: 768px)
				{
					// Suppression des libellés sur les téléphones
					display: none;
				}

				&:hover
				{
					// Effet de sélection.
					color: $box-color;
					font-weight: bold;
					background-color: $text-color;
				}

				&::after
				{
					// Amélioration de la zone de sélection.
					@extend %larger-touch-zone;
				}
			}
		}

		img
		{
			// Espacement des images.
			margin-right: 0.25rem;
		}

		&:last-of-type
		{
			// Bouton de sélection de la langue.
			float: right;
			margin-right: 0;

			ul
			{
				// Liste des langues disponibles.
				left: -3.5rem;
				bottom: 3rem;
				display: none;
				position: absolute;

				li
				{
					margin: 0.5rem 0 0;

					button
					{
						// Bouton pour changer vers la langue sélectionnée.
						color: $box-color;
						padding: 0.5rem;
						border-radius: 0.5rem;
						background-color: $text-color;

						img
						{
							// Drapeau représentant la langue.
							width: 2rem;
							margin-right: 0;
						}

						span
						{
							// Nom de la langue.
							font-size: 1.25rem;
							font-weight: bold;
						}

						&:hover
						{
							// Sélection du bouton.
							color: $text-color;
							background-color: $box-color;
						}
					}

					&:last-of-type::after
					{
						// Petite astuce pour pouvoir garder le menu ouvert
						// 	lorsque l'utilisateur déplace sa souris vers un
						//	des boutons du menu.
						bottom: -4rem;
						content: "";
						z-index: -1;
						position: absolute;
					}
				}
			}

			&::after
			{
				// Astuce pour faire afficher le menu sans utiliser de
				// 	de code JavaScript (voir commentaire précédent).
				top: -0.5rem;
				left: -0.5rem;
				right: -0.5rem;
				bottom: -0.5rem;
				content: "";
				position: absolute;
			}

			&:hover
			{
				// Sélection de l'icône des langues.
				cursor: pointer;

				ul
				{
					// Affichage des langues disponibles.
					display: block;
				}

				i
				{
					// Changement de la couleur de l'icône.
					color: $background-color;
				}
			}
		}
	}

	article
	{
		// Indicateur de défilement.
		// 	Source : https://www.w3schools.com/howto/howto_js_scroll_indicator.asp
		top: 0.5rem;
		height: 0.25rem;
		position: relative;
		background: $border-color;
		box-shadow: none;

		@media screen and (min-width: 1024px)
		{
			// Disparition de l'indicateur sur ordinateurs.
			display: none;
		}

		div
		{
			// Défilement depuis le JavaScript.
			width: 0;
			height: 0.25rem;
			background: $text-color;
		}
	}
}