// Permet de réinitialiser les règles initiales d'un
// 	bouton afin de le personnaliser par la suite.
@mixin reset-button-style()
{
	border: none;
	outline: none;
	position: relative;
}

// Permet de réinitialiser les règles initiales d'une
// 	liste ordonnée ou non-ordonnée.
@mixin reset-list-style
{
	margin: 0;
	padding: 0;
	list-style: none;
}

// Permet d'élargir la zone de détection lors d'un clic
// 	de l'utilisateur (utile sur terminaux mobiles).
@mixin larger-touch-zone()
{
	top: -0.5rem;
	left: -0.5rem;
	right: -0.5rem;
	bottom: -0.5rem;
	content: "";
	position: absolute;
}

// Permet d'appliquer automatiquement les modifications
// 	de personnalisation aux boutons d'annulation.
@mixin cancel-button-layout
{
	// Disposition et affichage.
	color: $background-color;
	cursor: pointer;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	margin-right: 0.25rem;
	border-radius: 0.25rem;
	background-color: $error-color;

	&:hover
	{
		// Effet de sélection.
		color: $error-color;
		font-weight: bold;
		background-color: $background-color;
	}
}

@mixin submit-button-layout
{
	// Disposition et affichage.
	color: $background-color;
	cursor: pointer;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	margin-left: 0.25rem;
	border-radius: 0.25rem;
	background-color: $validate-color;

	&:hover
	{
		// Effet de sélection.
		color: $validate-color;
		font-weight: bold;
		background-color: $background-color;
	}
}