// Permet de réinitialiser les règles initiales d'un
// 	bouton afin de le personnaliser par la suite.
%reset-button-style
{
	border: none;
	outline: none;
	position: relative;
}

// Permet de réinitialiser les règles initiales d'une
// 	liste ordonnée ou non-ordonnée.
%reset-list-style
{
	margin: 0;
	padding: 0;
	list-style: none;
}

// Permet d'élargir la zone de détection lors d'un clic
// 	de l'utilisateur (uniquement sur les terminaux mobiles).
%larger-touch-zone
{
	@media screen and (max-width: 1024px)
	{
		top: -0.5rem;
		left: -0.5rem;
		right: -0.5rem;
		bottom: -0.5rem;
		content: "";
		position: absolute;
	}
}

// Permet d'appliquer automatiquement les modifications
// 	de personnalisation aux boutons d'annulation.
%cancel-button-layout
{
	// Disposition et affichage.
	color: $background-color;
	cursor: pointer;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	transition: color 250ms, background-color 250ms;
	margin-right: 0.25rem;
	border-radius: 0.25rem;
	background-color: $error-color;

	&:hover
	{
		// Effet de sélection.
		color: $error-color;
		font-weight: bold;
		background-color: $background-color;
	}
}

// Permet d'appliquer automatiquement les modifications
// 	de personnalisation aux boutons de validation.
%submit-button-layout
{
	// Disposition et affichage.
	color: $background-color;
	cursor: pointer;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	transition: color 250ms, background-color 250ms;
	margin-left: 0.25rem;
	border-radius: 0.25rem;
	background-color: $validate-color;

	&:hover
	{
		// Effet de sélection.
		color: $validate-color;
		font-weight: bold;
		background-color: $background-color;
	}
}

// Permet de générer les règles nécessaires à la création
// 	du paragraphe principal présent dans l'en-tête de la page.
@mixin header-paragraph($margin-left: 15%, $margin-right: 15%)
{
	margin: 0 $margin-left 0 $margin-right;
	text-align: center;
}

// Permet de générer la présentation ainsi que la disposition
//	nécessaire pour créer la barre de navigation du site.
@mixin navigation-bar($border: $border-color, $text: $text-color, $box: $box-color)
{
	border: 1px solid $border;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: rgba($border, 0.5);

	h2
	{
		// Titre de la barre.
		color: $box;
		margin: 1rem 0.5rem 2rem 0.5rem;
		font-size: 1.75rem;
	}

	ul li
	{
		// Liste des catégories.
		color: $text;
		cursor: pointer;
		padding: 0.75rem;
		font-size: 1.25rem;
		box-shadow: 0.25rem 0.25rem 0.25rem $border;
		transition: background-color 250ms;
		user-select: none;
		font-weight: bold;
		border-radius: 0.5rem;
		margin-bottom: 0.5rem;
		background-color: $box;

		a
		{
			// Modification de la zone sélection.
			display: block;
			position: relative;

			i
			{
				// Icône de la catégorie.
				margin-right: 0.5rem;

				+ span
				{
					// Titre de la catégorie.
					position: relative;
				}
			}

			&::after
			{
				// Amélioration de la zone de sélection.
				@extend %larger-touch-zone;
			}
		}

		&.active, &:hover
		{
			// Effet de sélection.
			background-color: $text;

			i, span
			{
				color: $box;
			}
		}
	}
}

// Permet d'adapter la présentation de l'en-tête commun pour
// 	toutes les pages sur les terminaux mobiles.
@mixin responsive-header-adaptation($text: $text-color, $box: $box-color)
{
	color: $text;
	height: 6.25rem;
	padding: 0.5rem;
	background-color: $box;

	img
	{
		// Disparition du logo du site.
		display: none;
	}

	h1
	{
		// Ajustement du titre de la page.
		top: 0;
		left: 1.5rem;
		bottom: unset;
		position: absolute;
		font-size: revert;
	}

	h2
	{
		// Ajustement du sous-titre de la page.
		top: 3rem;
		left: 1.5rem;
		width: 325px;
		bottom: unset;
		position: absolute;
		font-size: revert;
	}

	div
	{
		// Disparition de la barre de recherche.
		display: none;
	}
}