// ------------------ //
// Variables globales //
// ------------------ //
$html-min-width: 360px;						// Taille minimale d'affichage

$box-color: rgb(51, 51, 51);				// Couleur de certains blocs
$text-color: rgb(245, 154, 35);			// Couleur des textes
$border-color: rgb(121, 121, 121);			// Couleur des bordures
$background-color: rgb(242, 242, 242);		// Couleur de fond

$info-color: rgb(1, 111, 160);				// Couleur des messages informatifs
$error-color: rgb(237, 67, 29);			// Couleur des erreurs/avertissements
$special-color: rgb(74, 35, 122);			// Couleur des messages spéciaux
$validate-color: rgb(85, 140, 3);			// Couleur des validations