// ------------------ //
// Variables globales //
// ------------------ //
@import "variables";
@import "mixins";

// --------------- //
// Document entier //
// --------------- //
html
{
	// Traitement des textes.
	color: $box-color;
	font-family: "Roboto", sans-serif;
	text-rendering: optimizeSpeed;

	// Disposition et affichage.
	min-width: $html-min-width;
	scroll-behavior: smooth;
}

h1
{
	// Titres principaux.
	font-family: "Source Sans Pro", sans-serif;
}

h2, h3, h4, h5, h6
{
	// Sous-titres.
	font-family: "Source Code Pro", serif;
}

ul, ol
{
	// Listes ordonnées/non-ordonnées.
	@include reset-list-style
}

p
{
	// Paragraphes et textes.
	line-height: 1.25rem;
}

a
{
	// Liens d'ancrage.
	color: currentColor;
	text-decoration: none;
}

video
{
	// Vidéos en arrière-plan.
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.15;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
}

button
{
	// Boutons de sélection.
	@include reset-button-style;
	cursor: pointer;
	box-shadow: 0.25rem 0.25rem 0.25rem $border-color;
}

noscript
{
	// Avertissement page sans JavaScript.
	top: 1rem;
	right: 1rem;
	color: $background-color;
	padding: 0.5rem;
	z-index: 10;
	position: fixed;
	margin-left: 6rem;
	background-color: $error-color;
}

input, textarea, select
{
	// Actionneurs, champs de saisies et listes déroulantes.
	@include reset-button-style;
	resize: vertical;
	line-height: 1; // Correction étrange pour le normalisateur CSS.
	border-radius: 0.5rem;
}

::selection
{
	// Sélection des textes.
	color: $text-color;
	background-color: $box-color;
}

// Personnalisation de la barre de défilement.
//	(Navigateurs WebKit uniquement : https://caniuse.com/css-scrollbar).
::-webkit-scrollbar
{
	// Taille de la barre.
	width: 0.75rem;
}

::-webkit-scrollbar-track
{
	// Fond de la barre.
	background-color: $background-color;
}

::-webkit-scrollbar-thumb
{
	// Couleur classique de la barre.
	background-color: $box-color;
}

::-webkit-scrollbar-thumb:hover
{
	// Couleur de la barre lors d'une sélection.
	background-color: $text-color;
}

// ------------------ //
// Bouton des astuces //
// ------------------ //
main >
{
	span
	{
		// Texte de l'astuce caché par défaut.
		display: none;
	}

	button
	{
		// Disposition et affichage.
		color: $text-color;
		width: 3rem;
		right: 0.5rem;
		height: 3rem;
		bottom: 4.25rem;
		position: fixed;
		font-size: 1.5rem;
		font-weight: bold;
		background-color: $box-color;
		border-radius: 50%;

		&:hover
		{
			// Effet de sélection.
			color: $box-color;
			background-color: $text-color;

			+ span
			{
				// Affichage du texte de l'astuce lorsque l'icône
				// 	est sélectionné par l'utilisateur.
				color: $text-color;
				right: 4rem;
				bottom: 4.6rem;
				padding: 0.5rem;
				display: inline-block;
				position: fixed;
				background-color: $box-color;
			}
		}

		&::after
		{
			// Amélioration de la zone de sélection.
			@include larger-touch-zone;
		}
	}
}

// ------------ //
// Pied-de-page //
// ------------ //
footer
{
	// Disposition et apparence.
	color: $text-color;
	width: calc(100% - 2rem);
	bottom: -1px;
	padding: 1rem;
	z-index: 5;
	position: fixed;
	background-color: $box-color;

	ul li
	{
		// Liste des options.
		display: inline-block;
		position: relative;
		font-size: 1.5rem;
		margin-right: 2rem;

		a
		{
			// Lien vers les pages.
			color: $background-color;

			&:hover
			{
				// Effet de sélection.
				color: $box-color;
				font-weight: bold;
				background-color: $text-color;
			}

			&::after
			{
				// Amélioration de la zone de sélection.
				@include larger-touch-zone;
			}
		}

		img
		{
			// Espacement des images.
			margin-right: 0.25rem;
		}

		&:last-of-type
		{
			// Bouton de sélection de la langue.
			float: right;
			margin-right: 0;

			ul
			{
				// Liste des langues disponibles.
				left: -3.5rem;
				bottom: 3rem;
				display: none;
				position: absolute;

				li
				{
					margin: 0.5rem 0 0;

					button
					{
						// Bouton pour changer vers la langue sélectionnée.
						color: $box-color;
						padding: 0.5rem;
						border-radius: 0.5rem;
						background-color: $text-color;

						img
						{
							// Drapeau représentant la langue.
							width: 2rem;
							margin-right: 0;
						}

						span
						{
							// Nom de la langue.
							font-size: 1.25rem;
							font-weight: bold;
						}

						&:hover
						{
							// Sélection du bouton.
							color: $text-color;
							background-color: $box-color;
						}
					}

					&:last-of-type::after
					{
						// Petite astuce pour pouvoir garder le menu ouvert
						// 	lorsque l'utilisateur déplace sa souris vers un
						//	des boutons du menu.
						bottom: -4rem;
						content: "";
						z-index: -1;
						position: absolute;
					}
				}
			}

			&::after
			{
				// Amélioration de la zone de sélection.
				@include larger-touch-zone;
			}

			&:hover
			{
				// Sélection de l'icône des langues.
				cursor: pointer;

				ul
				{
					// Affichage des langues disponibles.
					display: block;
				}

				i
				{
					// Changement de la couleur de l'icône.
					color: $background-color;
				}
			}
		}
	}
}