// --------------- //
// Base de travail //
// --------------- //
@import "../desktop/admin";

// ---------------- //
// Corps de la page //
// ---------------- //
main
{
	// Modification du nombre de lignes/colonnes.
	height: auto;
	margin-bottom: 4rem;
	grid-template-columns: 1fr;

	nav
	{
		// Modification de la grille.
		grid-area: 1 / 1 / 2 / 2;

		ul li
		{
			// Modification de l'affichage.
			display: inline-block;
		}
	}

	#tables
	{
		// Modification de la grille.
		grid-area: 2 / 1 / 3 / 2;
	}
}