@charset "UTF-8";
input, textarea, select, button {
  border: none;
  outline: none;
  position: relative;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  main nav ul li a i + span::after, footer ul li a span::after, #tips button::after {
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    content: "";
    position: absolute;
  }
}

#signup article form input[type=reset], #signin form input[type=reset], #contact form input[type=reset] {
  color: rgb(242, 242, 242);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  transition: color 250ms, background-color 250ms;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgb(237, 67, 29);
}
#signup article form input[type=reset]:hover, #signin form input[type=reset]:hover, #contact form input[type=reset]:hover {
  color: rgb(237, 67, 29);
  font-weight: bold;
  background-color: rgb(242, 242, 242);
}

#signup article form input[type=submit], #signin form input[type=submit], #contact form input[type=submit] {
  color: rgb(242, 242, 242);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  transition: color 250ms, background-color 250ms;
  margin-left: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgb(85, 140, 3);
}
#signup article form input[type=submit]:hover, #signin form input[type=submit]:hover, #contact form input[type=submit]:hover {
  color: rgb(85, 140, 3);
  font-weight: bold;
  background-color: rgb(242, 242, 242);
}

html {
  color: rgb(51, 51, 51);
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeSpeed;
  min-width: 360px;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: "Source Code Pro", serif;
}

p, em {
  line-height: 1.375;
}

strong {
  font-size: 120%;
}

a {
  color: currentColor;
  text-decoration: none;
}

video {
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.15;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

button {
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0.25rem rgb(121, 121, 121);
}

noscript {
  top: 1rem;
  left: 1rem;
  color: rgb(242, 242, 242);
  padding: 0.5rem;
  z-index: 10;
  position: fixed;
  font-weight: bold;
  margin-right: 1rem;
  background-color: rgb(237, 67, 29);
}

nav, section, article {
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(121, 121, 121);
}

input, textarea, select {
  resize: vertical;
  line-height: 1;
  border-radius: 0.5rem;
}

::-moz-selection {
  color: rgb(245, 154, 35);
  background-color: rgb(51, 51, 51);
}

::selection {
  color: rgb(245, 154, 35);
  background-color: rgb(51, 51, 51);
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(242, 242, 242);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(51, 51, 51);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(245, 154, 35);
}

header {
  color: rgb(245, 154, 35);
  height: 6.25rem;
  padding: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgb(51, 51, 51);
}
header img {
  width: 12rem;
  height: 100%;
}
header h1 {
  left: 1.5rem;
  bottom: 3.5rem;
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
}
header h2 {
  right: 15.5rem;
  bottom: 1rem;
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  font-style: italic;
}
header #search i {
  top: 1.5rem;
  right: 19.5rem;
  position: absolute;
  font-size: 1.25rem;
}
header #search span {
  top: 1.75rem;
  right: 12rem;
  color: rgb(242, 242, 242);
  position: absolute;
}
header #search input {
  top: 3.5rem;
  right: 10rem;
  height: 1.5rem;
  padding: 0.25rem;
  position: absolute;
  transition: box-shadow 250ms;
}
header #search input::-moz-placeholder {
  left: 0.25rem;
  position: relative;
}
header #search input:-ms-input-placeholder {
  left: 0.25rem;
  position: relative;
}
header #search input::placeholder {
  left: 0.25rem;
  position: relative;
}
header #search input:focus {
  box-shadow: inset 0 0 0 3px rgb(245, 154, 35);
}
header #search input:focus + ul {
  top: 6rem;
  right: 10rem;
  width: 185px;
  z-index: 1;
  display: block;
  position: absolute;
  background-color: rgb(51, 51, 51);
}
header #search input:focus + ul li {
  border: 1px solid rgb(121, 121, 121);
  padding: 0.5rem;
  transition: color 250ms, background-color 250ms;
  border-bottom: 1px solid rgb(242, 242, 242);
}
header #search input:focus + ul li:last-of-type {
  border-bottom: none;
}
header #search input:focus + ul li:hover {
  color: rgb(51, 51, 51);
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(242, 242, 242);
}
header #search input + ul {
  display: none;
}
header a i {
  top: 1rem;
  right: 3.25rem;
  position: absolute;
  font-size: 2rem;
  transition: color 250ms;
}
header a span {
  top: 3.75rem;
  right: 1rem;
  color: rgb(242, 242, 242);
  position: absolute;
  text-align: center;
}
header a:hover i {
  color: rgb(242, 242, 242);
}

#signup article, #signin, #contact {
  top: calc(50% - 1.75rem);
  left: 50%;
  width: 50%;
  border: 1px solid rgb(245, 154, 35);
  z-index: 1;
  padding: 2rem;
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 600px;
  overflow-y: auto;
  max-height: 75vh;
  text-align: center;
  background-color: rgb(242, 242, 242);
}
@media screen and (max-width: 1023px) {
  #signup article, #signin, #contact {
    width: 75%;
  }
}
#signup article h2, #signin h2, #contact h2 {
  font-size: 2rem;
  margin-top: 0;
}
#signup article div, #signin div, #contact div {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
#signup article div i, #signin div i, #contact div i {
  color: rgb(237, 67, 29);
  font-size: 2rem;
}
#signup article p, #signup article em, #signin p, #signin em, #contact p, #contact em {
  margin: 0 5% 1rem 5%;
}
#signup article form, #signin form, #contact form {
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgb(51, 51, 51);
}
#signup article form p.error, #signup article form p.success, #signin form p.error, #signin form p.success, #contact form p.error, #contact form p.success {
  color: rgb(237, 67, 29);
  border: 2px solid rgb(237, 67, 29);
  padding: 0.5rem;
  display: none;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
#signup article form p.success, #signin form p.success, #contact form p.success {
  color: rgb(85, 140, 3);
  border: 2px solid rgb(85, 140, 3);
  text-transform: none;
}
#signup article form p.capslock, #signin form p.capslock, #contact form p.capslock {
  color: rgb(237, 67, 29);
  font-size: 110%;
  font-weight: bold;
  text-transform: uppercase;
}
#signup article form em, #signin form em, #contact form em {
  color: rgb(242, 242, 242);
  display: block;
  font-style: normal;
  text-align: justify;
  margin-bottom: 1.5rem;
}
#signup article form a, #signin form a, #contact form a {
  color: rgb(245, 154, 35);
  transition: color 250ms, background-color 250ms;
  text-decoration: underline;
}
#signup article form a:hover, #signin form a:hover, #contact form a:hover {
  color: rgb(51, 51, 51);
  font-weight: bold;
  background-color: rgb(245, 154, 35);
}
#signup article form hr, #signin form hr, #contact form hr {
  margin: 1.5rem 0 2rem;
  border-color: rgb(242, 242, 242);
}
#signup article form label, #signin form label, #contact form label {
  color: rgb(245, 154, 35);
}
#signup article form label > span, #signin form label > span, #contact form label > span {
  color: rgb(237, 67, 29);
}
#signup article form input[type=text], #signup article form input[type=email], #signup article form input[type=password], #signup article form textarea, #signup article form select, #signin form input[type=text], #signin form input[type=email], #signin form input[type=password], #signin form textarea, #signin form select, #contact form input[type=text], #contact form input[type=email], #contact form input[type=password], #contact form textarea, #contact form select {
  width: calc(100% - 2rem);
  margin: 0.5rem 0 1rem 0;
  padding: 1rem;
  box-sizing: border-box;
}
#signup article form input[type=text] + span, #signup article form input[type=email] + span, #signup article form input[type=password] + span, #signup article form textarea + span, #signup article form select + span, #signin form input[type=text] + span, #signin form input[type=email] + span, #signin form input[type=password] + span, #signin form textarea + span, #signin form select + span, #contact form input[type=text] + span, #contact form input[type=email] + span, #contact form input[type=password] + span, #contact form textarea + span, #contact form select + span {
  position: relative;
}
#signup article form input[type=text] + span::before, #signup article form input[type=email] + span::before, #signup article form input[type=password] + span::before, #signup article form textarea + span::before, #signup article form select + span::before, #signin form input[type=text] + span::before, #signin form input[type=email] + span::before, #signin form input[type=password] + span::before, #signin form textarea + span::before, #signin form select + span::before, #contact form input[type=text] + span::before, #contact form input[type=email] + span::before, #contact form input[type=password] + span::before, #contact form textarea + span::before, #contact form select + span::before {
  top: -2.5px;
  left: -1.75rem;
  position: absolute;
}
@-moz-document url-prefix() {
  #signup article form input[type=text] + span::before, #signup article form input[type=email] + span::before, #signup article form input[type=password] + span::before, #signup article form textarea + span::before, #signup article form select + span::before, #signin form input[type=text] + span::before, #signin form input[type=email] + span::before, #signin form input[type=password] + span::before, #signin form textarea + span::before, #signin form select + span::before, #contact form input[type=text] + span::before, #contact form input[type=email] + span::before, #contact form input[type=password] + span::before, #contact form textarea + span::before, #contact form select + span::before {
    top: -1rem;
  }
}
#signup article form input[type=checkbox], #signin form input[type=checkbox], #contact form input[type=checkbox] {
  margin-left: 0.5rem;
}
#signup article form input[type=checkbox]:checked, #signin form input[type=checkbox]:checked, #contact form input[type=checkbox]:checked {
  box-shadow: 0 0 0 3px rgb(245, 154, 35);
}
#signup article form select, #signin form select, #contact form select {
  cursor: pointer;
}
#signup article form textarea, #signin form textarea, #contact form textarea {
  height: 200px;
  margin-bottom: 0;
}
#signup article form textarea + span::before, #signin form textarea + span::before, #contact form textarea + span::before {
  top: -1.25rem;
  left: -2rem;
}
@-moz-document url-prefix() {
  #signup article form textarea + span::before, #signin form textarea + span::before, #contact form textarea + span::before {
    top: -2rem;
  }
}
#signup article form input[type=reset], #signin form input[type=reset], #contact form input[type=reset] {
  margin-top: 0.75rem;
}
#signup article form input[type=submit], #signin form input[type=submit], #contact form input[type=submit] {
  margin-top: 0.75rem;
}
#signup article form input:valid + span::before, #signup article form textarea:valid + span::before, #signin form input:valid + span::before, #signin form textarea:valid + span::before, #contact form input:valid + span::before, #contact form textarea:valid + span::before {
  color: rgb(85, 140, 3);
  content: "✓";
  font-size: 1.5rem;
}
#signup article form input:invalid + span::before, #signup article form textarea:invalid + span::before, #signin form input:invalid + span::before, #signin form textarea:invalid + span::before, #contact form input:invalid + span::before, #contact form textarea:invalid + span::before {
  color: rgb(237, 67, 29);
  content: "✖";
  font-size: 1.5rem;
}
#signup article form input:focus:invalid, #signup article form textarea:focus:invalid, #signin form input:focus:invalid, #signin form textarea:focus:invalid, #contact form input:focus:invalid, #contact form textarea:focus:invalid {
  box-shadow: inset 0 0 0 3px red;
}
#signup article ul, #signin ul, #contact ul {
  float: right;
  margin: 0.75rem 0 -0.5rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}
#signup article ul li, #signin ul li, #contact ul li {
  color: rgb(245, 154, 35);
  display: inline;
  padding: 0.25rem 0.5rem;
  margin-right: 0.25rem;
  background-color: rgb(51, 51, 51);
}
#signup article ul li.active, #signin ul li.active, #contact ul li.active {
  color: rgb(51, 51, 51);
  background-color: rgb(245, 154, 35);
}

#notifications {
  left: 50%;
  color: rgb(242, 242, 242);
  bottom: 4.375rem;
  border: 3px solid rgb(121, 121, 121);
  display: none;
  padding: 1rem;
  z-index: 2;
  position: fixed;
  min-width: 100px;
  max-width: 360px;
  transform: translateX(-50%);
  visibility: hidden;
  font-weight: bold;
  border-radius: 0.5rem;
}
#notifications i {
  font-size: 1.5rem;
}
#notifications.error {
  background-color: rgb(237, 67, 29);
}
#notifications.success {
  background-color: rgb(85, 140, 3);
}
#notifications.info {
  background-color: rgb(1, 111, 160);
}
#notifications.show {
  gap: 0.75rem;
  display: flex;
  -webkit-animation: fadeIn 500ms, fadeOut 500ms 4.75s;
          animation: fadeIn 500ms, fadeOut 500ms 4.75s;
  visibility: visible;
  align-items: center;
}
@-webkit-keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 4.375rem;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 4.375rem;
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    bottom: 4.375rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    bottom: 4.375rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#tips {
  position: fixed;
}
#tips span {
  width: 40%;
  display: none;
  margin-left: 1rem;
}
@media screen and (max-width: 768px) {
  #tips span {
    width: 100%;
  }
}
#tips button {
  color: rgb(245, 154, 35);
  width: 3rem;
  right: 0.5rem;
  height: 3rem;
  bottom: 4.25rem;
  border: 1px solid rgb(121, 121, 121);
  position: fixed;
  font-size: 1.5rem;
  transition: color 250ms, background-color 250ms;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgb(51, 51, 51);
}
#tips button:hover {
  color: rgb(51, 51, 51);
  background-color: rgb(245, 154, 35);
}
#tips button:hover + span {
  color: rgb(245, 154, 35);
  right: 4rem;
  bottom: 4.1rem;
  border: 1px solid rgb(121, 121, 121);
  padding: 0.5rem;
  display: inline-block;
  position: fixed;
  background-color: rgb(51, 51, 51);
}
footer {
  color: rgb(245, 154, 35);
  width: calc(100% - 2rem);
  height: 1.75rem;
  bottom: -1px;
  padding: 1rem;
  z-index: 5;
  position: fixed;
  min-width: 360px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgb(51, 51, 51);
}
footer ul li {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  footer ul li a i:hover {
    color: rgb(242, 242, 242);
    transition: color 250ms;
  }
}
footer ul li a span {
  color: rgb(242, 242, 242);
  transition: color 150ms, background-color 150ms;
}
@media screen and (max-width: 768px) {
  footer ul li a span {
    display: none;
  }
}
footer ul li a span:hover {
  color: rgb(51, 51, 51);
  font-weight: bold;
  background-color: rgb(245, 154, 35);
}
footer ul li img {
  margin-right: 0.25rem;
}
footer ul li:last-of-type {
  float: right;
  margin-right: 0;
}
footer ul li:last-of-type ul {
  left: -3.5rem;
  bottom: 3rem;
  display: none;
  position: absolute;
}
@-moz-document url-prefix() {
  footer ul li:last-of-type ul {
    left: -3.75rem;
  }
}
footer ul li:last-of-type ul li {
  margin: 0.5rem 0 0;
}
footer ul li:last-of-type ul li button {
  color: rgb(51, 51, 51);
  padding: 0.5rem;
  transition: color 250ms, background-color 250ms;
  border-radius: 0.5rem;
  background-color: rgb(245, 154, 35);
}
footer ul li:last-of-type ul li button img {
  width: 2rem;
  margin: 0 0 -0.25rem;
}
footer ul li:last-of-type ul li button span {
  font-size: 1.25rem;
  font-weight: bold;
}
footer ul li:last-of-type ul li button:hover {
  color: rgb(245, 154, 35);
  background-color: rgb(51, 51, 51);
}
footer ul li:last-of-type ul li:last-of-type::after {
  bottom: -4rem;
  content: "";
  z-index: -1;
  position: absolute;
}
footer ul li:last-of-type::after {
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  content: "";
  position: absolute;
}
footer ul li:last-of-type:hover {
  cursor: pointer;
}
footer ul li:last-of-type:hover ul {
  display: block;
}
footer ul li:last-of-type:hover i {
  color: rgb(242, 242, 242);
  transition: color 250ms;
}
footer > div {
  top: 0.5rem;
  height: 0.25rem;
  position: relative;
  background: rgb(121, 121, 121);
  box-shadow: none;
}
@media screen and (min-width: 1024px) {
  footer > div {
    display: none;
  }
}
footer > div div {
  width: 0;
  height: 0.25rem;
  background: rgb(245, 154, 35);
}

main {
  display: grid;
  padding: 2rem 5%;
  text-align: center;
  align-items: start;
  grid-row-gap: 2rem;
  margin-bottom: 4rem;
  justify-items: stretch;
  grid-column-gap: 5%;
  grid-template-rows: auto 0.75fr auto auto;
  grid-template-columns: clamp(15rem, 17.5vw, 25rem) 1fr;
}
main p {
  grid-area: 1/1/2/3;
  margin: 0 15% 0 15%;
  text-align: center;
}
main nav {
  grid-area: 2/1/4/2;
  border: 1px solid rgb(121, 121, 121);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(121, 121, 121, 0.5);
}
main nav h2 {
  color: rgb(51, 51, 51);
  margin: 1rem 0.5rem 2rem 0.5rem;
  font-size: 1.75rem;
}
main nav ul li {
  color: rgb(245, 154, 35);
  cursor: pointer;
  padding: 0.75rem;
  font-size: 1.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgb(121, 121, 121);
  transition: color 250ms, background-color 250ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(51, 51, 51);
}
main nav ul li a i {
  margin-right: 0.5rem;
}
main nav ul li a i + span {
  position: relative;
}
main nav ul li.active, main nav ul li:hover {
  background-color: rgb(245, 154, 35);
}
main nav ul li.active i, main nav ul li.active span, main nav ul li:hover i, main nav ul li:hover span {
  color: rgb(51, 51, 51);
}
main #counter {
  color: rgb(245, 154, 35);
  padding: 1rem;
  grid-area: 2/2/3/3;
  border-radius: 0.5rem;
  background-color: rgb(51, 51, 51);
}
main #counter h2 {
  margin: 1rem 0.5rem 1.5rem 0.5rem;
  font-size: 1.75rem;
}
main #counter ul li {
  color: rgb(245, 154, 35);
  cursor: help;
  border: 3px solid rgb(121, 121, 121);
  margin: 0.5rem 0.5rem 0 0;
  padding: 1rem;
  display: inline-block;
  transition: color 250ms, background-color 250ms;
  min-width: 8rem;
  max-width: 12rem;
  box-shadow: none;
}
main #counter ul li i {
  font-size: 3rem;
}
main #counter ul li h3 {
  margin: 0.5rem 0 0;
  font-size: 2rem;
}
main #counter ul li h4 {
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}
main #counter ul li:hover {
  color: rgb(51, 51, 51);
  background-color: rgb(245, 154, 35);
}
main #faq {
  color: rgb(245, 154, 35);
  padding: 1rem;
  grid-area: 3/2/4/3;
  border-radius: 0.5rem;
  background-color: rgb(51, 51, 51);
}
main #faq h2 {
  margin: 1rem 0.5rem 1.5rem 0.5rem;
  font-size: 1.75rem;
}
main #faq button {
  color: rgb(245, 154, 35);
  width: 100%;
  border: 1px solid rgb(121, 121, 121);
  padding: 1rem;
  transition: color 250ms, background-color 250ms;
  box-shadow: none;
  text-align: left;
  font-weight: bold;
  background-color: rgb(51, 51, 51);
}
main #faq button::after {
  float: right;
  color: rgb(245, 154, 35);
  content: "+";
}
main #faq button:hover {
  color: rgb(51, 51, 51);
  background-color: rgb(245, 154, 35);
}
main #faq button:hover::after {
  color: rgb(51, 51, 51);
}
main #faq .active {
  color: rgb(51, 51, 51);
  background-color: rgb(245, 154, 35);
}
main #faq .active::after {
  color: rgb(51, 51, 51);
  content: "−";
}
main #faq p {
  color: rgb(51, 51, 51);
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
  max-height: 0;
  text-align: justify;
  transition: max-height 200ms ease-out;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: rgb(121, 121, 121);
  background-color: rgb(242, 242, 242);
}

main {
  grid-template-rows: 0.2fr 0.5fr;
  grid-template-columns: 1fr 1fr;
}
main p {
  margin: 0 5% 0 5%;
  grid-area: 1/1/2/3;
}
main nav {
  grid-area: 2/1/3/3;
}
main nav ul li {
  display: inline-block;
}
main #counter {
  grid-area: 3/1/4/2;
}
main #counter ul li {
  min-width: 7rem;
}
main #counter ul li i {
  font-size: 2rem;
}
main #counter ul li h3 {
  font-size: 1.5rem;
}
main #faq {
  grid-area: 3/2/4/3;
}