// --------------- //
// Base de travail //
// --------------- //
@import "../global";

// ---------------- //
// Corps de la page //
// ---------------- //
main
{
	display: grid;
	padding: 2rem 5%;
	text-align: center;
	align-items: start;
	grid-row-gap: 2rem;
	margin-bottom: 4rem;
	justify-items: stretch;
	grid-column-gap: 5%;
	grid-template-columns: clamp(15rem, 17.5vw, 25rem) 1fr 1fr;

	p
	{
		// Description de la page.
		grid-area: 1 / 1 / 2 / 4;
		@include header-paragraph;
	}

	nav
	{
		// Barre de navigation.
		grid-area: 2 / 1 / 3 / 2;
		@include navigation-bar;
	}

	#stockage
	{
		// Informations de connexion FTP.
		color: $text-color;
		padding: 1rem;
		display: flex;
		grid-area: 2 / 2 / 3 / 3;
		min-height: 600px;
		border-radius: 0.5rem;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: $box-color;

		h2
		{
			// Titre de la catégorie.
			margin: 1rem 0.5rem 2rem 0.5rem;
			font-size: 1.75rem;
		}

		div
		{
			// Spécifications juridiques.
			gap: 0.75rem;
			margin: 0 1rem 0 1rem;
			display: flex;
			align-items: center;

			i
			{
				// Icône d'avertissement.
				color: $error-color;
				font-size: 2rem;
			}
		}

		form
		{
			// Formulaire.
			padding: 1rem;
			margin-top: 0.5rem;
			border-radius: 0.5rem;
			background-color: $box-color;

			label
			{
				// Libellé du champ.
				color: $text-color;
				display: block;

				> span
				{
					// Champs requis.
					color: $error-color;
				}
			}

			input[type = text], input[type = password], select
			{
				// Champs et zones de saisies.
				width: calc(100% - 2rem);
				margin: 0.5rem 0 1rem 0;
				padding: 1rem;
				box-sizing: border-box;

				&[name = ftp_address]
				{
					// Champ de l'adresse IP.
					width: calc(70% - 1rem);
				}

				&[name = ftp_port]
				{
					// Champ du port de communication.
					width: calc(30% - 1rem);
				}

				+ span
				{
					// Icône d'état des vérifications.
					position: relative;

					&::before
					{
						top: -2.5px;
						left: -1.75rem;
						position: absolute;
					}
				}
			}

			select
			{
				// Sélection du type de protocole.
				cursor: pointer;
			}

			input[type = submit]
			{
				// Application de l'apparence personnalisée.
				@extend %submit-button-layout;
			}
		}
	}

	#parameters
	{
		// Paramètres disponibles pour modification.
		color: $text-color;
		padding: 1rem;
		display: flex;
		grid-area: 2 / 3 / 3 / 4;
		min-height: 600px;
		border-radius: 0.5rem;
		flex-direction: column;
		background-color: $box-color;

		h2
		{
			// Titre de la catégorie.
			font-size: 1.75rem;
		}

		ul li
		{
			// Liste des paramètres.
			&:last-of-type
			{
				margin-bottom: 1rem;
			}

			h3
			{
				// Nom du paramètre.
				margin: 2rem 0 0.25rem;
				font-size: 1.25rem;
			}

			p
			{
				// Description du paramètre.
				color: $background-color;
				margin: 0 0 0.25rem 0;
			}

			input
			{
				// Champ de saisie du paramètre.
				width: 50%;
				padding: 0.5rem;
			}

			button
			{
				// Bouton de mise à jour.
				top: 0.5rem;
				color: $text-color;
				position: relative;
				font-size: 1.75rem;
				background: none;
				box-shadow: none;
				transition: color 250ms;

				&:hover
				{
					// Effet de sélection.
					color: $background-color;
				}

				&::after
				{
					// Amélioration de la zone de sélection.
					@extend %larger-touch-zone;
				}
			}
		}
	}
}