// --------------- //
// Base de travail //
// --------------- //
@import "../global";

// ------- //
// En-tête //
// ------- //
header
{
	// Réinitialisation de certaines règles
	//  de l'en-tête par défaut du site.
	width: inherit;
	height: 0;
	padding: 0;

	ul
	{
		// Présentation des boutons.
		right: 0;
		margin: 1rem;
		position: absolute;

		button
		{
			// Disposition et affichage.
			color: $text-color;
			width: 150px;
			height: 44px;
			padding: 0.5rem 1.5rem;
			transition: color 250ms, background-color 250ms;
			font-weight: bold;
			border-radius: 0.5rem;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
			background-color: $box-color;

			&:hover
			{
				// Effet de sélection.
				color: $box-color;
				background-color: $text-color;
			}

			&::before
			{
				// Amélioration de la zone de sélection.
				@extend %larger-touch-zone;
			}
		}

		a
		{
			// Utilisation des règles originales.
			@extend button;

			// Modification de l'apparence par défaut.
			width: auto;
			height: 1.75rem;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
		}
	}
}

// ----------------------------------- //
// Lien vers le dépôt GitHub du projet //
// ----------------------------------- //
main > a
{

	@media screen and (max-width: 320px)
	{
		// Suppression du logo GitHub sur les écrans
		//  de petite taille.
		display: none;
	}

	// Animation du logo GitHub.
	&:hover path:nth-of-type(2)
	{
		// Effet de survol.
		animation: octocat-wave 560ms ease-in-out;

		@media (max-width: 768px)
		{
			// Désactivation de l'animation sur les
			//  écrans de petite taille.
			animation: none;
		}
	}

	svg
	{
		// Délimitation de la zone cliquable.
		position: fixed;
		clip-path: polygon(0 0, 100% 0, 100% 100%)
	}

	@media (max-width: 768px)
	{
		path:nth-of-type(2)
		{
			// Animation du logo GitHub au chargement
			//  de la page sur les écrans de petite taille.
			animation: octocat-wave 560ms ease-in-out;
		}
	}

	@keyframes octocat-wave
	{
		0% { transform: rotate(0); }
		20% { transform: rotate(-25deg); }
		40% { transform: rotate(10deg); }
		60% { transform: rotate(-25deg); }
		80% { transform: rotate(10deg); }
		100% { transform: rotate(0); }
	}
}

// -------------------------------- //
// Section : informations générales //
// -------------------------------- //
#informations
{
	top: calc(50% - $footer-height);
	gap: 10vw;
	left: 50%;
	width: 80%;
	margin: auto;
	display: flex;
	position: absolute;
	transform: translate(-50%, -50%);
	box-shadow: none;
	align-items: center;
	justify-content: center;

	> ul
	{
		// Carrousel d'images.
		width: 50%;

		li
		{
			// Image du carrousel.
			display: none;

			img
			{
				// Image du projet.
				filter: blur(0.75px) grayscale(1);
				max-width: 100%;
				max-height: 100%;
				transition: filter 300ms ease-in-out;
				border-radius: 1rem;

				&:hover
				{
					// Effet de sélection.
					filter: blur(0) grayscale(0);
				}
			}

			&:first-of-type
			{
				// Affichage de la première image.
				display: block;
			}
		}
	}

	article
	{
		// Présentation des fonctionnalités.
		color: $box-color;
		width: 50%;
		text-align: center;
		box-shadow: none;
		border-radius: 0.5rem;

		img
		{
			// Logo du site.
			width: 26rem;
		}

		button
		{
			// Disposition et affichage.
			color: $box-color;
			font-size: 2rem;
			transition: color 250ms;
			box-shadow: none;
			background-color: transparent;

			&:first-of-type
			{
				// Disparition du bouton précédent.
				//  Note : il sera affiché par le JavaScript.
				display: none;
			}

			&:hover
			{
				// Effet de sélection.
				color: $text-color;
			}
		}

		ul li
		{
			h2
			{
				// Titre de présentation.
				font-size: 3rem;
				text-shadow: 1px 1px 1px $text-color;
				text-transform: uppercase;
			}

			p
			{
				// Paragraphe de présentation.
				margin: 2rem 0 2rem;
				line-height: 1.5;
				font-weight: bold;
			}

			&:not(:first-of-type)
			{
				// Disparition de toutes les parties sauf la première.
				//  Note : elles seront affichées par le JavaScript.
				display: none;
			}
		}
	}
}