// --------------- //
// Base de travail //
// --------------- //
@import "../global";

// ---------------- //
// Corps de la page //
// ---------------- //
main
{
	margin: 0 auto 4rem auto;
	display: grid;
	padding: 2rem;
	max-width: 1440px;
	text-align: center;
	align-items: start;
	grid-row-gap: 2rem;
	justify-items: stretch;
	grid-column-gap: 5%;
	grid-template-columns: clamp(15rem, 17.5vw, 25rem) 1fr;

	p
	{
		// Description de la page.
		grid-area: 1 / 1 / 2 / 3;
		@include header-paragraph;
	}

	nav
	{
		// Barre de navigation.
		grid-area: 2 / 1 / 3 / 2;
		@include navigation-bar;
	}

	#charts
	{
		// Statistiques graphiques.
		color: $text-color;
		width: 96%; // Correctif stupide pour supporter le responsive de ChartJS.
		padding: 1rem;
		grid-area: 2 / 2 / 3 / 3;
		border-radius: 0.5rem;
		background-color: $box-color;

		h2
		{
			// Titre de la catégorie.
			margin: 1rem 0.5rem 2rem 0.5rem;
			font-size: 1.75rem;
		}

		canvas
		{
			// Graphique.
			border: 1px solid $text-color;
			padding: 1rem;

			&:first-of-type
			{
				// Marge appliquée seulement au premier.
				margin-bottom: 1.5rem;
			}
		}
	}

	#orientation
	{
		// Overlay d'orientation de l'appareil.
		display: none;
	}
}

// ---------------- //
// Version tablette //
// ---------------- //
@media screen and (min-width: 769px) and (max-width: 1023px)
{
	@import "../tablet/statistics";
}

// -------------- //
// Version mobile //
// -------------- //
@media screen and (max-width: 768px)
{
	@import "../phone/statistics";
}