// --------------- //
// Base de travail //
// --------------- //
@import "../global";

// ---------------- //
// Corps de la page //
// ---------------- //
main
{
	margin: 0 auto 4rem auto;
	display: grid;
	padding: 2rem;
	max-width: 1440px;
	text-align: center;
	align-items: start;
	grid-row-gap: 2rem;
	justify-items: stretch;
	grid-column-gap: 5%;
	grid-template-columns: clamp(15rem, 17.5vw, 25rem) 1fr;

	p
	{
		// Description de la page.
		grid-area: 1 / 1 / 2 / 3;
		@include header-paragraph;
	}

	nav
	{
		// Barre de navigation.
		grid-area: 2 / 1 / 3 / 2;
		@include navigation-bar;
	}

	#tasks
	{
		// Tâches planifiées.
		color: $text-color;
		padding: 1rem;
		grid-area: 2 / 2 / 3 / 3;
		border-radius: 0.5rem;
		background-color: $box-color;

		h2
		{
			// Titre de la catégorie.
			margin: 1rem 0.5rem 2rem 0.5rem;
			font-size: 1.75rem;
		}

		table
		{
			// Conteneur du tableau.
			width: 100%;
			border: 1px solid $border-color;
			table-layout: fixed;

			thead
			{
				// En-tête du tableau.
				color: $background-color;
				height: 2rem;
				font-size: 1.25rem;
				word-break: break-all;
				background-size: 100px 100px;
				background-image: linear-gradient(45deg, $text-color 12.5%, $box-color 12.5%, $box-color 37.5%, $text-color 37.5%, $text-color 62.5%, $box-color 62.5%, $box-color 87.5%, $text-color 87.5%);
				background-position: 50px 50px;
			}

			tbody
			{
				// Corps du tableau.
				word-break: break-all;

				tr
				{
					// En-tête de la cellule.
					height: 3rem;
					cursor: pointer;
					transition: color 250ms, background-color 250ms;

					em
					{
						// Adresse IP du serveur.
						display: block;
					}

					&.finished
					{
						// Date de déclenchement passée.
						color: $background-color;
						cursor: not-allowed;
						text-decoration: line-through $background-color;
						background-color: $error-color;
					}

					&:not(.finished):hover
					{
						// Effet de sélection.
						color: $box-color;
						font-weight: bold;
						background-color: $text-color;
					}
				}

				td
				{
					// Corps de la cellule.
					border: 1px solid $border-color;
					padding: 0.25rem;

					&:last-of-type
					{
						// Action effectuée.
						text-transform: uppercase;
					}
				}
			}
		}

		form
		{
			// Formulaire d'ajout d'une tâche.
			display: flex;
			row-gap: 1.5rem;
			flex-wrap: wrap;
			column-gap: 2rem;
			margin-top: 1rem;
			max-height: 6.5rem;
			align-items: center;
			margin-bottom: 1rem;
			justify-content: center;

			label
			{
				// Intitulé des champs de saisies.
				display: block;
				margin-bottom: 0.5rem;
			}

			select, input
			{
				// Champs de saisies et sélecteurs.
				padding: 0.5rem;

				&[type = submit]
				{
					// Bouton de validation.
					margin: 0;
					bottom: 0.5rem;
					position: relative;
					align-self: end;
					@extend %submit-button-layout;
				}
			}
		}
	}
}